In [11]:
# import pdfplumber
import pandas as pd
import numpy as np
import nltk
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords 
from string import punctuation
from nltk.corpus import wordnet as wn
from nltk.stem import WordNetLemmatizer
from nltk.probability import FreqDist
from heapq import nlargest
from collections import defaultdict
import pandas as pd 
from nltk.collocations import *
# nltk.download('punkt')
# nltk.download('stopwords')
# nltk.download('wordnet')

In [18]:
# Import CV
f=open('shubhi_shrotriya_resume_Deloitte.txt','r', errors = 'ignore')
text=f.read()

In [19]:
def nlp(x):
    word_sent = word_tokenize(x.lower().replace("\n",""))
    _stopwords = set(stopwords.words('english') + list(punctuation)+list("●")+list('–')+list('’'))
    word_sent=[word for word in word_sent if word not in _stopwords]
    lemmatizer = WordNetLemmatizer()
    NLP_Processed_CV = [lemmatizer.lemmatize(word) for word in word_tokenize(" ".join(word_sent))]
#     return " ".join(NLP_Processed_CV)
    return NLP_Processed_CV

In [20]:
def get_key_word(x):
    finder = BigramCollocationFinder.from_words(x)
    lst = []
    Key_word_from_CV = []
    for i in sorted(finder.ngram_fd.items()):
    # if a double word appears more than once, then print it out.
        if i[1] > 1:
            print(i)
            lst.append(i[0])
        else:
            pass

    # print("************************")
    for j in lst:
    #     print(" ".join(j))
        Key_word_from_CV.append(" ".join(j))
    return Key_word_from_CV

In [21]:
NLP_Processed_CV = nlp(text)
# NLP_Processed_CV=' '.join(NLP_Processed_CV)
NLP_Processed_CV

['shubhi',
 'shrotriyashubhishrotriya09',
 'gmail.comem22mtech14003',
 'iith.ac.in9068998298academic',
 'detailsyeardegreeinstitutecgpa/marks',
 '2024m.tech',
 'techno-entrepreneurshipiit',
 'hyderabad9.042021',
 'b.tech',
 'electronics',
 'communication',
 'engineeringzhcet',
 'amu8.212017xii',
 'amu',
 'sssg',
 'amu87.6',
 '2014x',
 'cbse',
 'olf89.3',
 'position',
 'responsibilitylinkedin',
 'page',
 'manager',
 'curated',
 'engaging',
 'informative',
 'departmental',
 'post',
 'blogs.team',
 'lead',
 'led',
 'team',
 'participate',
 'secure',
 'second',
 'runner',
 'national',
 'event',
 "createch'2020",
 'organized',
 'bylnt',
 'company.team',
 'lead',
 'led',
 '12-student',
 'team',
 'ideating',
 'designing',
 'fabricating',
 'hybrid',
 'tri-cycle',
 'national',
 'eventefficycle',
 'organized',
 'sae-nis',
 'eventually',
 'winning',
 "'futuristic",
 'efficycle',
 "award'2018.thesisstage",
 '1-',
 'conducting',
 'market',
 'research',
 'business',
 'hypothesis',
 'product',
 'research',
 'financial',
 'modeling',
 '``',
 'aidriven',
 'platform',
 'specializing',
 'job-specific',
 'mock',
 'interview',
 'resume',
 'fitness',
 'score',
 '``',
 '2022-23',
 '2020-21',
 '2018-19',
 "aug'23ongoing",
 'skillstechnical',
 'skill',
 'python',
 'sql',
 'excel',
 'tableau',
 'user',
 'experience',
 'ux',
 'prototyping',
 'using',
 'figma',
 'product',
 'developmentlifecycle',
 'assesment',
 'a/b',
 'testing',
 'experimentationmanagerial',
 'skill',
 'market',
 'research',
 'strategic',
 'thinking',
 'critical',
 'analysis',
 'problem-solving',
 'decision-makingrelevant',
 'coursesprogramming',
 'mathematical',
 'course',
 'video',
 'content',
 'analysis',
 'fraud',
 'analytics',
 'using',
 'predictive',
 'social',
 'networktechniques',
 'data',
 'structure',
 'algorithm',
 'linear',
 'algebra',
 'probability',
 'statistic',
 'calculusentrepreneurship',
 'management',
 'course',
 'strategic',
 'management',
 'operational',
 'entrepreneurship',
 'finance',
 'andaccounting',
 'introduction',
 'marketing',
 'innovation',
 'management',
 'ecoonomics',
 'technocrat',
 'game',
 'theory',
 'startup',
 'marketing',
 'new',
 'venturesprojectsimplemented',
 'data-driven',
 'tool',
 'financial',
 'news',
 'analysis',
 'leveraging',
 'nlp',
 'embeddings',
 'llm',
 "jul'23information",
 'retrieval',
 'insight',
 'using',
 "langchainaug'23",
 'cricket',
 'data',
 'analytics',
 'project',
 'using',
 'web',
 'scraping',
 'python',
 'panda',
 'power',
 'bi',
 "jun'23-jul'23",
 'conducted',
 'industrial',
 'environmental',
 'analysis',
 'indian',
 'semiconductor',
 'industry',
 "feb'23-",
 "march'23",
 'implemented',
 'circular',
 'trade',
 'detection',
 'trust',
 'rank',
 'using',
 'pregel',
 'framework',
 'spectral',
 'clustering',
 'cost',
 "jan'23sensitive",
 'logistic',
 'regression',
 'given',
 "datasetapr'23",
 'conducted',
 'literature',
 'review',
 '``',
 'deep',
 'reinforcement',
 'learning',
 'solving',
 'agv',
 'routing',
 'problem',
 '``',
 'paper',
 "jan'23-",
 "april'23",
 'literature',
 'review',
 'deepfakes',
 'generative',
 'adversarial',
 'network',
 'focused',
 '``',
 'neural',
 'emotion',
 'director',
 "aug'22speech-preserving",
 'semantic',
 'control',
 'facial',
 'expression',
 "'in-the-wild",
 'video',
 '``',
 'published',
 "cvpr'2022dec'22",
 'extracurricularcollaborated',
 'joint',
 'pitch',
 'event',
 'competition',
 'lead',
 'pitch',
 'japanese',
 'student',
 'develop',
 'scalable',
 'business',
 '2023',
 'plan',
 'presentation',
 'technical',
 'concept.one',
 'finalist',
 "prodx'23",
 'product',
 'management',
 'case',
 'study',
 'organized',
 'fcc',
 'iith',
 '2023',
 'volunteered',
 'food',
 'conclave-2023',
 'event',
 'hosted',
 'government',
 'telangana',
 '2023',
 'summer',
 'internshipfounder',
 "'s",
 'office',
 'intern',
 'dao',
 'studio',
 'align',
 'technical',
 'vision',
 'business',
 'objective',
 'blockchain-based',
 'ai',
 'startup',
 'translating',
 'high-level',
 'conceptsinto',
 'actionable',
 'engineering',
 'task',
 'enhancing',
 'technical',
 'documentation.shape',
 'ai',
 'strategy',
 'via',
 'market',
 'analysis',
 'user',
 'requirement',
 'definition',
 'precise',
 'technical',
 'documentation',
 'forproduct',
 'development.research',
 'internship',
 'iit',
 'hyderabad',
 'guidance',
 'dr.',
 'nakul',
 'parmeswar',
 'explored',
 'indian',
 'micromobility',
 "'s",
 'challenge',
 'opportunity',
 'key',
 'player',
 'relevance',
 'evolving',
 'mobility.developed',
 'comprehensive',
 'case',
 'study',
 'instructional',
 'note',
 'yulu',
 'startup',
 'involving',
 'rigorous',
 'marketresearch',
 'precise',
 'data',
 'collection',
 'strategic',
 'formulation',
 'currently',
 'discussion',
 'yulu',
 'collaborativepublication',
 'strategic',
 'case',
 'study',
 "aug'23oct'23",
 "may'23jul'23"]

In [24]:
key_word = get_key_word(NLP_Processed_CV)
key_word

(('case', 'study'), 3)
(('lead', 'led'), 2)
(('literature', 'review'), 2)
(('market', 'research'), 2)

['case study', 'lead led', 'literature review', 'market research']

# Importing scapped df

In [25]:
DF_PATH = "data.csv"

In [26]:
df = pd.read_csv(DF_PATH)
df

,company,positionName,description,salary,location,rating,reviewsCount,postedAt,externalApplyLink,url
0,IBM,Application Developer: EAI,\r\n \r\n Introduction\r\n As an Applicatio...,NaN,"Pune, Maharashtra",3.9,31981.0,Today,https://in.indeed.com/applystart?jk=fb3f055a63...,https://www.indeed.co.in/rc/clk?jk=fb3f055a632...
1,IBM,Application Developer: IBM Cloud Integration,\r\n \r\n Introduction\r\n As an Applicatio...,NaN,"Bengaluru, Karnataka",3.9,31981.0,Today,https://in.indeed.com/applystart?jk=dcbc5cf465...,https://www.indeed.co.in/rc/clk?jk=dcbc5cf4654...
2,IBM,Cloud Developer,"\r\n \r\n Introduction\r\n At IBM, work is ...",NaN,"Bengaluru, Karnataka",3.9,31981.0,1 day ago,https://in.indeed.com/applystart?jk=6bc552083f...,https://www.indeed.co.in/rc/clk?jk=6bc552083f9...
3,IBM,Application Developer: Microsoft Analytics,\r\n \r\n Introduction\r\n As an Applicatio...,NaN,"Hyderabad, Telangana",3.9,31981.0,Today,https://in.indeed.com/applystart?jk=bf6cebfb33...,https://www.indeed.co.in/rc/clk?jk=bf6cebfb333...
4,IBM,Software Developer: Microsoft,\r\n \r\n Introduction\r\n \r\n \r\n In ...,NaN,"Ahmedabad, Gujarat",3.9,31981.0,1 day ago,https://in.indeed.com/applystart?jk=b1b335e8ad...,https://www.indeed.co.in/rc/clk?jk=b1b335e8ad3...
...,...,...,...,...,...,...,...,...,...,...
5497,EY,Java_Full_stack_Backend Developer,"\r\n At EY, you’ll have the chance to build a ...",NaN,"Bengaluru, Karnataka",3.9,8726.0,1 day ago,https://in.indeed.com/applystart?jk=3a51e284cd...,https://www.indeed.co.in/rc/clk?jk=3a51e284cd8...
5498,"JPMorgan Chase Bank, N.A.",FRDC-RDT-Accounts- Java Developer-Hyderabad,\r\n As a Software Engineer III at JPMorgan Ch...,NaN,"Hyderabad, Telangana",3.9,18023.0,1 day ago,https://in.indeed.com/applystart?jk=dd7e7fdfbe...,https://www.indeed.co.in/rc/clk?jk=dd7e7fdfbe7...
5499,Accenture,ASP.NET Application Developer,\r\n About Accenture: Accenture is a global pr...,NaN,"Coimbatore, Tamil Nadu",4.0,23070.0,1 day ago,https://in.indeed.com/applystart?jk=ef3761755f...,https://www.indeed.co.in/rc/clk?jk=ef3761755fa...
5500,IBM,Application Developer: SAP NextGen UX & Mobile,\r\n \r\n Introduction\r\n As an Applicatio...,NaN,"Bengaluru, Karnataka",3.9,31981.0,1 day ago,https://in.indeed.com/applystart?jk=1e1e79f155...,https://www.indeed.co.in/rc/clk?jk=1e1e79f1550...
5501,IBM,Cloud Developer,"\r\n \r\n Introduction\r\n At IBM, work is ...",NaN,"Bengaluru, Karnataka",3.9,31981.0,1 day ago,https://in.indeed.com/applystart?jk=6bc552083f...,https://www.indeed.co.in/rc/clk?jk=6bc552083f9...

In [27]:
df["JobID"]=df.index

In [28]:
df

,company,positionName,description,salary,location,rating,reviewsCount,postedAt,externalApplyLink,url,JobID
0,IBM,Application Developer: EAI,\r\n \r\n Introduction\r\n As an Applicatio...,NaN,"Pune, Maharashtra",3.9,31981.0,Today,https://in.indeed.com/applystart?jk=fb3f055a63...,https://www.indeed.co.in/rc/clk?jk=fb3f055a632...,0
1,IBM,Application Developer: IBM Cloud Integration,\r\n \r\n Introduction\r\n As an Applicatio...,NaN,"Bengaluru, Karnataka",3.9,31981.0,Today,https://in.indeed.com/applystart?jk=dcbc5cf465...,https://www.indeed.co.in/rc/clk?jk=dcbc5cf4654...,1
2,IBM,Cloud Developer,"\r\n \r\n Introduction\r\n At IBM, work is ...",NaN,"Bengaluru, Karnataka",3.9,31981.0,1 day ago,https://in.indeed.com/applystart?jk=6bc552083f...,https://www.indeed.co.in/rc/clk?jk=6bc552083f9...,2
3,IBM,Application Developer: Microsoft Analytics,\r\n \r\n Introduction\r\n As an Applicatio...,NaN,"Hyderabad, Telangana",3.9,31981.0,Today,https://in.indeed.com/applystart?jk=bf6cebfb33...,https://www.indeed.co.in/rc/clk?jk=bf6cebfb333...,3
4,IBM,Software Developer: Microsoft,\r\n \r\n Introduction\r\n \r\n \r\n In ...,NaN,"Ahmedabad, Gujarat",3.9,31981.0,1 day ago,https://in.indeed.com/applystart?jk=b1b335e8ad...,https://www.indeed.co.in/rc/clk?jk=b1b335e8ad3...,4
...,...,...,...,...,...,...,...,...,...,...,...
5497,EY,Java_Full_stack_Backend Developer,"\r\n At EY, you’ll have the chance to build a ...",NaN,"Bengaluru, Karnataka",3.9,8726.0,1 day ago,https://in.indeed.com/applystart?jk=3a51e284cd...,https://www.indeed.co.in/rc/clk?jk=3a51e284cd8...,5497
5498,"JPMorgan Chase Bank, N.A.",FRDC-RDT-Accounts- Java Developer-Hyderabad,\r\n As a Software Engineer III at JPMorgan Ch...,NaN,"Hyderabad, Telangana",3.9,18023.0,1 day ago,https://in.indeed.com/applystart?jk=dd7e7fdfbe...,https://www.indeed.co.in/rc/clk?jk=dd7e7fdfbe7...,5498
5499,Accenture,ASP.NET Application Developer,\r\n About Accenture: Accenture is a global pr...,NaN,"Coimbatore, Tamil Nadu",4.0,23070.0,1 day ago,https://in.indeed.com/applystart?jk=ef3761755f...,https://www.indeed.co.in/rc/clk?jk=ef3761755fa...,5499
5500,IBM,Application Developer: SAP NextGen UX & Mobile,\r\n \r\n Introduction\r\n As an Applicatio...,NaN,"Bengaluru, Karnataka",3.9,31981.0,1 day ago,https://in.indeed.com/applystart?jk=1e1e79f155...,https://www.indeed.co.in/rc/clk?jk=1e1e79f1550...,5500
5501,IBM,Cloud Developer,"\r\n \r\n Introduction\r\n At IBM, work is ...",NaN,"Bengaluru, Karnataka",3.9,31981.0,1 day ago,https://in.indeed.com/applystart?jk=6bc552083f...,https://www.indeed.co.in/rc/clk?jk=6bc552083f9...,5501

In [29]:
df.shape

(5502, 11)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5502 entries, 0 to 5501
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   company            5408 non-null   object
 1   positionName       5502 non-null   object
 2   description        5502 non-null   object
 3   salary             1248 non-null   object
 4   location           5502 non-null   object
 5   rating             3128 non-null   float64
 6   reviewsCount       3128 non-null   float64
 7   postedAt           5502 non-null   object
 8   externalApplyLink  4044 non-null   object
 9   url                5502 non-null   object
 10  JobID              5502 non-null   int64
dtypes: float64(2), int64(1), object(8)
memory usage: 473.0+ KB

In [31]:
df['All'] = df[df.columns[0:]].apply(
    lambda x: ','.join(x.dropna().astype(str)),
    axis=1
)

In [32]:
df

,company,positionName,description,salary,location,rating,reviewsCount,postedAt,externalApplyLink,url,JobID,All
0,IBM,Application Developer: EAI,\r\n \r\n Introduction\r\n As an Applicatio...,NaN,"Pune, Maharashtra",3.9,31981.0,Today,https://in.indeed.com/applystart?jk=fb3f055a63...,https://www.indeed.co.in/rc/clk?jk=fb3f055a632...,0,"IBM,Application Developer: EAI,\r\n \r\n Intr..."
1,IBM,Application Developer: IBM Cloud Integration,\r\n \r\n Introduction\r\n As an Applicatio...,NaN,"Bengaluru, Karnataka",3.9,31981.0,Today,https://in.indeed.com/applystart?jk=dcbc5cf465...,https://www.indeed.co.in/rc/clk?jk=dcbc5cf4654...,1,"IBM,Application Developer: IBM Cloud Integrati..."
2,IBM,Cloud Developer,"\r\n \r\n Introduction\r\n At IBM, work is ...",NaN,"Bengaluru, Karnataka",3.9,31981.0,1 day ago,https://in.indeed.com/applystart?jk=6bc552083f...,https://www.indeed.co.in/rc/clk?jk=6bc552083f9...,2,"IBM,Cloud Developer,\r\n \r\n Introduction\r\..."
3,IBM,Application Developer: Microsoft Analytics,\r\n \r\n Introduction\r\n As an Applicatio...,NaN,"Hyderabad, Telangana",3.9,31981.0,Today,https://in.indeed.com/applystart?jk=bf6cebfb33...,https://www.indeed.co.in/rc/clk?jk=bf6cebfb333...,3,"IBM,Application Developer: Microsoft Analytics..."
4,IBM,Software Developer: Microsoft,\r\n \r\n Introduction\r\n \r\n \r\n In ...,NaN,"Ahmedabad, Gujarat",3.9,31981.0,1 day ago,https://in.indeed.com/applystart?jk=b1b335e8ad...,https://www.indeed.co.in/rc/clk?jk=b1b335e8ad3...,4,"IBM,Software Developer: Microsoft,\r\n \r\n I..."
...,...,...,...,...,...,...,...,...,...,...,...,...
5497,EY,Java_Full_stack_Backend Developer,"\r\n At EY, you’ll have the chance to build a ...",NaN,"Bengaluru, Karnataka",3.9,8726.0,1 day ago,https://in.indeed.com/applystart?jk=3a51e284cd...,https://www.indeed.co.in/rc/clk?jk=3a51e284cd8...,5497,"EY,Java_Full_stack_Backend Developer,\r\n At E..."
5498,"JPMorgan Chase Bank, N.A.",FRDC-RDT-Accounts- Java Developer-Hyderabad,\r\n As a Software Engineer III at JPMorgan Ch...,NaN,"Hyderabad, Telangana",3.9,18023.0,1 day ago,https://in.indeed.com/applystart?jk=dd7e7fdfbe...,https://www.indeed.co.in/rc/clk?jk=dd7e7fdfbe7...,5498,"JPMorgan Chase Bank, N.A.,FRDC-RDT-Accounts- J..."
5499,Accenture,ASP.NET Application Developer,\r\n About Accenture: Accenture is a global pr...,NaN,"Coimbatore, Tamil Nadu",4.0,23070.0,1 day ago,https://in.indeed.com/applystart?jk=ef3761755f...,https://www.indeed.co.in/rc/clk?jk=ef3761755fa...,5499,"Accenture,ASP.NET Application Developer,\r\n A..."
5500,IBM,Application Developer: SAP NextGen UX & Mobile,\r\n \r\n Introduction\r\n As an Applicatio...,NaN,"Bengaluru, Karnataka",3.9,31981.0,1 day ago,https://in.indeed.com/applystart?jk=1e1e79f155...,https://www.indeed.co.in/rc/clk?jk=1e1e79f1550...,5500,"IBM,Application Developer: SAP NextGen UX & Mo..."
5501,IBM,Cloud Developer,"\r\n \r\n Introduction\r\n At IBM, work is ...",NaN,"Bengaluru, Karnataka",3.9,31981.0,1 day ago,https://in.indeed.com/applystart?jk=6bc552083f...,https://www.indeed.co.in/rc/clk?jk=6bc552083f9...,5501,"IBM,Cloud Developer,\r\n \r\n Introduction\r\..."

In [33]:
df['All']

0       IBM,Application Developer: EAI,\r\n \r\n  Intr...
1       IBM,Application Developer: IBM Cloud Integrati...
2       IBM,Cloud Developer,\r\n \r\n  Introduction\r\...
3       IBM,Application Developer: Microsoft Analytics...
4       IBM,Software Developer: Microsoft,\r\n \r\n  I...
                              ...
5497    EY,Java_Full_stack_Backend Developer,\r\n At E...
5498    JPMorgan Chase Bank, N.A.,FRDC-RDT-Accounts- J...
5499    Accenture,ASP.NET Application Developer,\r\n A...
5500    IBM,Application Developer: SAP NextGen UX & Mo...
5501    IBM,Cloud Developer,\r\n \r\n  Introduction\r\...
Name: All, Length: 5502, dtype: object

In [34]:
df["description"].replace(r'\n','', regex=True,inplace=True)
df["description"].replace(r'\r','', regex=True,inplace=True)  
df = df.replace(' ', '')
df.description = df.description.str.strip()
df.All = df.All.str.strip()

In [35]:
df

,company,positionName,description,salary,location,rating,reviewsCount,postedAt,externalApplyLink,url,JobID,All
0,IBM,Application Developer: EAI,"Introduction As an Application Developer, yo...",NaN,"Pune, Maharashtra",3.9,31981.0,Today,https://in.indeed.com/applystart?jk=fb3f055a63...,https://www.indeed.co.in/rc/clk?jk=fb3f055a632...,0,"IBM,Application Developer: EAI,\r\n \r\n Intr..."
1,IBM,Application Developer: IBM Cloud Integration,"Introduction As an Application Developer, yo...",NaN,"Bengaluru, Karnataka",3.9,31981.0,Today,https://in.indeed.com/applystart?jk=dcbc5cf465...,https://www.indeed.co.in/rc/clk?jk=dcbc5cf4654...,1,"IBM,Application Developer: IBM Cloud Integrati..."
2,IBM,Cloud Developer,"Introduction At IBM, work is more than a job...",NaN,"Bengaluru, Karnataka",3.9,31981.0,1 day ago,https://in.indeed.com/applystart?jk=6bc552083f...,https://www.indeed.co.in/rc/clk?jk=6bc552083f9...,2,"IBM,Cloud Developer,\r\n \r\n Introduction\r\..."
3,IBM,Application Developer: Microsoft Analytics,"Introduction As an Application Developer, yo...",NaN,"Hyderabad, Telangana",3.9,31981.0,Today,https://in.indeed.com/applystart?jk=bf6cebfb33...,https://www.indeed.co.in/rc/clk?jk=bf6cebfb333...,3,"IBM,Application Developer: Microsoft Analytics..."
4,IBM,Software Developer: Microsoft,"Introduction In this role, you'll work ...",NaN,"Ahmedabad, Gujarat",3.9,31981.0,1 day ago,https://in.indeed.com/applystart?jk=b1b335e8ad...,https://www.indeed.co.in/rc/clk?jk=b1b335e8ad3...,4,"IBM,Software Developer: Microsoft,\r\n \r\n I..."
...,...,...,...,...,...,...,...,...,...,...,...,...
5497,EY,Java_Full_stack_Backend Developer,"At EY, you’ll have the chance to build a caree...",NaN,"Bengaluru, Karnataka",3.9,8726.0,1 day ago,https://in.indeed.com/applystart?jk=3a51e284cd...,https://www.indeed.co.in/rc/clk?jk=3a51e284cd8...,5497,"EY,Java_Full_stack_Backend Developer,\r\n At E..."
5498,"JPMorgan Chase Bank, N.A.",FRDC-RDT-Accounts- Java Developer-Hyderabad,"As a Software Engineer III at JPMorgan Chase, ...",NaN,"Hyderabad, Telangana",3.9,18023.0,1 day ago,https://in.indeed.com/applystart?jk=dd7e7fdfbe...,https://www.indeed.co.in/rc/clk?jk=dd7e7fdfbe7...,5498,"JPMorgan Chase Bank, N.A.,FRDC-RDT-Accounts- J..."
5499,Accenture,ASP.NET Application Developer,About Accenture: Accenture is a global profess...,NaN,"Coimbatore, Tamil Nadu",4.0,23070.0,1 day ago,https://in.indeed.com/applystart?jk=ef3761755f...,https://www.indeed.co.in/rc/clk?jk=ef3761755fa...,5499,"Accenture,ASP.NET Application Developer,\r\n A..."
5500,IBM,Application Developer: SAP NextGen UX & Mobile,"Introduction As an Application Developer, yo...",NaN,"Bengaluru, Karnataka",3.9,31981.0,1 day ago,https://in.indeed.com/applystart?jk=1e1e79f155...,https://www.indeed.co.in/rc/clk?jk=1e1e79f1550...,5500,"IBM,Application Developer: SAP NextGen UX & Mo..."
5501,IBM,Cloud Developer,"Introduction At IBM, work is more than a job...",NaN,"Bengaluru, Karnataka",3.9,31981.0,1 day ago,https://in.indeed.com/applystart?jk=6bc552083f...,https://www.indeed.co.in/rc/clk?jk=6bc552083f9...,5501,"IBM,Cloud Developer,\r\n \r\n Introduction\r\..."

# Put keywords of the CV into a dataframe

In [36]:
df2 = pd.DataFrame()
# append columns to an empty DataFrame
df2['title'] = ["I"]
df2['job highlights'] = ["I"]
df2['job description'] = ["I"]
df2['company overview'] = ["I"]
df2['industry'] = ["I"]

# Compare with the key words from CV only
df2['All'] = " ".join(key_word)

In [37]:
df2

,title,job highlights,job description,company overview,industry,All
0,I,I,I,I,I,case study lead led literature review market r...

In [38]:
df.columns

Index(['company', 'positionName', 'description', 'salary', 'location',
       'rating', 'reviewsCount', 'postedAt', 'externalApplyLink', 'url',
       'JobID', 'All'],
      dtype='object')

# Recomendation Function

#klnsdsd

In [39]:
def get_recommendation(top, df_all, scores):
    recommendation = pd.DataFrame(columns = ['positionName', 'company',"location",'JobID','description','score'])
    count = 0
    for i in top:
#         recommendation.at[count, 'ApplicantID'] = u
        
        recommendation.at[count, 'positionName'] = df['positionName'][i]
        recommendation.at[count, 'company'] = df['company'][i]
        recommendation.at[count, 'location'] = df['location'][i]
    
        recommendation.at[count, 'JobID'] = df.index[i]
        recommendation.at[count, 'description'] = df['description'][i]
        recommendation.at[count, 'score'] =  scores[count]
        count += 1
    return recommendation

## cosine_similarity + TfidfVectorizer function

In [41]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer


def TFIDF(scraped_data, cv):
    tfidf_vectorizer = TfidfVectorizer(stop_words='english')

    # TF-IDF Scraped data
    tfidf_jobid = tfidf_vectorizer.fit_transform(scraped_data)

    # TF-IDF CV
    user_tfidf = tfidf_vectorizer.transform(cv)

    # Using cosine_similarity on (Scraped data) & (CV)
    cos_similarity_tfidf = map(lambda x: cosine_similarity(user_tfidf,x),tfidf_jobid)

    output2 = list(cos_similarity_tfidf)
    return output2
    
output2 = TFIDF(df['All'], df2['All'])

In [42]:
len(output2)

5502

In [43]:
output2

[array([[0.03496333]]),
 array([[0.03421068]]),
 array([[0.04100105]]),
 array([[0.03847938]]),
 array([[0.04040894]]),
 array([[0.01180725]]),
 array([[0.04268917]]),
 array([[0.04364049]]),
 array([[0.0357396]]),
 array([[0.02723421]]),
 array([[0.03160473]]),
 array([[0.03575262]]),
 array([[0.03203653]]),
 array([[0.03668896]]),
 array([[0.03462295]]),
 array([[0.0359217]]),
 array([[0.02876143]]),
 array([[0.03116561]]),
 array([[0.03843969]]),
 array([[0.04244237]]),
 array([[0.0335724]]),
 array([[0.03488495]]),
 array([[0.0380524]]),
 array([[0.]]),
 array([[0.04019534]]),
 array([[0.]]),
 array([[0.03948246]]),
 array([[0.0240089]]),
 array([[0.04329296]]),
 array([[0.02596272]]),
 array([[0.03656386]]),
 array([[0.03092921]]),
 array([[0.04431681]]),
 array([[0.0363903]]),
 array([[0.]]),
 array([[0.02394287]]),
 array([[0.]]),
 array([[0.04545278]]),
 array([[0.03748139]]),
 array([[0.]]),
 array([[0.03708354]]),
 array([[0.03567444]]),
 array([[0.04253901]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.06455732]]),
 array([[0.03355005]]),
 array([[0.]]),
 array([[0.02896603]]),
 array([[0.01453937]]),
 array([[0.01172821]]),
 array([[0.04021188]]),
 array([[0.00832479]]),
 array([[0.00855188]]),
 array([[0.]]),
 array([[0.03628622]]),
 array([[0.03080536]]),
 array([[0.03605757]]),
 array([[0.03145671]]),
 array([[0.04171911]]),
 array([[0.02476469]]),
 array([[0.03628283]]),
 array([[0.01330987]]),
 array([[0.02690862]]),
 array([[0.0354465]]),
 array([[0.03470936]]),
 array([[0.02724744]]),
 array([[0.03436584]]),
 array([[0.02585566]]),
 array([[0.0313893]]),
 array([[0.0056438]]),
 array([[0.03952353]]),
 array([[0.03878401]]),
 array([[0.00745497]]),
 array([[0.00727265]]),
 array([[0.01213579]]),
 array([[0.]]),
 array([[0.00926297]]),
 array([[0.]]),
 array([[0.02398343]]),
 array([[0.]]),
 array([[0.03198906]]),
 array([[0.03316211]]),
 array([[0.04196701]]),
 array([[0.02067748]]),
 array([[0.03314247]]),
 array([[0.03772763]]),
 array([[0.04242819]]),
 array([[0.01336043]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.03611717]]),
 array([[0.0337035]]),
 array([[0.02120899]]),
 array([[0.02753869]]),
 array([[0.0510763]]),
 array([[0.]]),
 array([[0.02680953]]),
 array([[0.]]),
 array([[0.0424368]]),
 array([[0.00567289]]),
 array([[0.0072067]]),
 array([[0.00690671]]),
 array([[0.03107419]]),
 array([[0.03173424]]),
 array([[0.]]),
 array([[0.03929328]]),
 array([[0.03870993]]),
 array([[0.01013665]]),
 array([[0.]]),
 array([[0.02796434]]),
 array([[0.02037235]]),
 array([[0.01964071]]),
 array([[0.]]),
 array([[0.01918867]]),
 array([[0.05316441]]),
 array([[0.03976139]]),
 array([[0.00599674]]),
 array([[0.00960815]]),
 array([[0.03242261]]),
 array([[0.03008886]]),
 array([[0.03472239]]),
 array([[0.03258452]]),
 array([[0.03735598]]),
 array([[0.00686768]]),
 array([[0.04909124]]),
 array([[0.]]),
 array([[0.04551148]]),
 array([[0.03295435]]),
 array([[0.045624]]),
 array([[0.03483775]]),
 array([[0.04714039]]),
 array([[0.]]),
 array([[0.02933559]]),
 array([[0.00864788]]),
 array([[0.01135667]]),
 array([[0.01387824]]),
 array([[0.03709892]]),
 array([[0.01245304]]),
 array([[0.0158477]]),
 array([[0.03280547]]),
 array([[0.]]),
 array([[0.0452883]]),
 array([[0.03042569]]),
 array([[0.02877388]]),
 array([[0.03316783]]),
 array([[0.00376192]]),
 array([[0.02159547]]),
 array([[0.00860908]]),
 array([[0.03403082]]),
 array([[0.0063804]]),
 array([[0.02833645]]),
 array([[0.03350349]]),
 array([[0.03486755]]),
 array([[0.02940598]]),
 array([[0.04181056]]),
 array([[0.04291968]]),
 array([[0.0276511]]),
 array([[0.04059543]]),
 array([[0.04798392]]),
 array([[0.02576356]]),
 array([[0.00691825]]),
 array([[0.02934446]]),
 array([[0.03036654]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.02777502]]),
 array([[0.01170132]]),
 array([[0.00844494]]),
 array([[0.00897587]]),
 array([[0.00732732]]),
 array([[0.04583416]]),
 array([[0.02877355]]),
 array([[0.03330563]]),
 array([[0.0423341]]),
 array([[0.00604153]]),
 array([[0.03184032]]),
 array([[0.0284241]]),
 array([[0.03274882]]),
 array([[0.01021866]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01549762]]),
 array([[0.]]),
 array([[0.00660029]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00888367]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00413972]]),
 array([[0.03926894]]),
 array([[0.00854485]]),
 array([[0.]]),
 array([[0.02308773]]),
 array([[0.03488286]]),
 array([[0.]]),
 array([[0.01104699]]),
 array([[0.04307117]]),
 array([[0.01419229]]),
 array([[0.]]),
 array([[0.00715329]]),
 array([[0.00807968]]),
 array([[0.02708685]]),
 array([[0.04691465]]),
 array([[0.00846691]]),
 array([[0.025928]]),
 array([[0.03529032]]),
 array([[0.02266054]]),
 array([[0.02923051]]),
 array([[0.]]),
 array([[0.02697872]]),
 array([[0.03538358]]),
 array([[0.00889725]]),
 array([[0.01113581]]),
 array([[0.00830901]]),
 array([[0.04570131]]),
 array([[0.02193445]]),
 array([[0.02948886]]),
 array([[0.03552054]]),
 array([[0.04567923]]),
 array([[0.0304972]]),
 array([[0.00828326]]),
 array([[0.02328994]]),
 array([[0.02789353]]),
 array([[0.00866618]]),
 array([[0.02383807]]),
 array([[0.03138315]]),
 array([[0.00588822]]),
 array([[0.02569444]]),
 array([[0.03643055]]),
 array([[0.01183276]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00470582]]),
 array([[0.]]),
 array([[0.00642798]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00548375]]),
 array([[0.02703968]]),
 array([[0.03275596]]),
 array([[0.04000902]]),
 array([[0.03769544]]),
 array([[0.]]),
 array([[0.04691635]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01787734]]),
 array([[0.04106488]]),
 array([[0.00897737]]),
 array([[0.]]),
 array([[0.00563883]]),
 array([[0.00762085]]),
 array([[0.01662174]]),
 array([[0.03311046]]),
 array([[0.03648777]]),
 array([[0.02237465]]),
 array([[0.03084222]]),
 array([[0.02414761]]),
 array([[0.]]),
 array([[0.03249658]]),
 array([[0.04349594]]),
 array([[0.03683412]]),
 array([[0.]]),
 array([[0.00563271]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.03516035]]),
 array([[0.03401758]]),
 array([[0.00985466]]),
 array([[0.04531091]]),
 array([[0.02660126]]),
 array([[0.]]),
 array([[0.01754453]]),
 array([[0.00717107]]),
 array([[0.]]),
 array([[0.01316811]]),
 array([[0.03668095]]),
 array([[0.03704598]]),
 array([[0.00548179]]),
 array([[0.04253903]]),
 array([[0.04782614]]),
 array([[0.]]),
 array([[0.04047665]]),
 array([[0.]]),
 array([[0.0410855]]),
 array([[0.03350552]]),
 array([[0.03310423]]),
 array([[0.]]),
 array([[0.0330219]]),
 array([[0.]]),
 array([[0.03641537]]),
 array([[0.03224723]]),
 array([[0.04234102]]),
 array([[0.01324375]]),
 array([[0.01381283]]),
 array([[0.04401432]]),
 array([[0.]]),
 array([[0.01682046]]),
 array([[0.0209528]]),
 array([[0.01508392]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.02994594]]),
 array([[0.02926404]]),
 array([[0.0257183]]),
 array([[0.]]),
 array([[0.01982711]]),
 array([[0.04285549]]),
 array([[0.00901418]]),
 array([[0.02668179]]),
 array([[0.03997284]]),
 array([[0.03003174]]),
 array([[0.02516306]]),
 array([[0.02678015]]),
 array([[0.0495149]]),
 array([[0.03930913]]),
 array([[0.013573]]),
 array([[0.0115101]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.02090748]]),
 array([[0.01114717]]),
 array([[0.]]),
 array([[0.01486703]]),
 array([[0.02535469]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01713141]]),
 array([[0.03749836]]),
 array([[0.00799419]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.04056548]]),
 array([[0.02299213]]),
 array([[0.03646481]]),
 array([[0.0117714]]),
 array([[0.03451176]]),
 array([[0.00482639]]),
 array([[0.]]),
 array([[0.02129098]]),
 array([[0.03779898]]),
 array([[0.01238776]]),
 array([[0.01302273]]),
 array([[0.042888]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.03170896]]),
 array([[0.01495898]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01585061]]),
 array([[0.02069165]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01411283]]),
 array([[0.01079186]]),
 array([[0.00664275]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00980523]]),
 array([[0.03603553]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.03063956]]),
 array([[0.00572843]]),
 array([[0.0082538]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00670328]]),
 array([[0.00848703]]),
 array([[0.01100661]]),
 array([[0.03339972]]),
 array([[0.01174919]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01481283]]),
 array([[0.03942208]]),
 array([[0.00630933]]),
 array([[0.]]),
 array([[0.01306226]]),
 array([[0.]]),
 array([[0.01684936]]),
 array([[0.]]),
 array([[0.00672942]]),
 array([[0.01046177]]),
 array([[0.01100616]]),
 array([[0.]]),
 array([[0.00351954]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.0126379]]),
 array([[0.]]),
 array([[0.0462675]]),
 array([[0.01392279]]),
 array([[0.]]),
 array([[0.03542345]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.05774971]]),
 array([[0.01815734]]),
 array([[0.02092953]]),
 array([[0.00522339]]),
 array([[0.00569967]]),
 array([[0.01307471]]),
 array([[0.01451342]]),
 array([[0.]]),
 array([[0.01695234]]),
 array([[0.00732997]]),
 array([[0.01793175]]),
 array([[0.02769004]]),
 array([[0.]]),
 array([[0.00977867]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00847301]]),
 array([[0.01049556]]),
 array([[0.04409291]]),
 array([[0.02171512]]),
 array([[0.01126941]]),
 array([[0.]]),
 array([[0.01246064]]),
 array([[0.]]),
 array([[0.01129483]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01344731]]),
 array([[0.]]),
 array([[0.01040378]]),
 array([[0.010427]]),
 array([[0.01079604]]),
 array([[0.01183586]]),
 array([[0.00862969]]),
 array([[0.01192209]]),
 array([[0.01101271]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01075682]]),
 array([[0.00699799]]),
 array([[0.]]),
 array([[0.01624718]]),
 array([[0.01636812]]),
 array([[0.]]),
 array([[0.01163685]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01695981]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01740721]]),
 array([[0.]]),
 array([[0.01709617]]),
 array([[0.0109923]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00593232]]),
 array([[0.]]),
 array([[0.00822308]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00611521]]),
 array([[0.00666496]]),
 array([[0.03225821]]),
 array([[0.0264544]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.03332783]]),
 array([[0.]]),
 array([[0.03382497]]),
 array([[0.00865387]]),
 array([[0.01270955]]),
 array([[0.00250163]]),
 array([[0.01777984]]),
 array([[0.01390464]]),
 array([[0.01634824]]),
 array([[0.]]),
 array([[0.0039831]]),
 array([[0.00753772]]),
 array([[0.00781777]]),
 array([[0.01497723]]),
 array([[0.01032015]]),
 array([[0.00904395]]),
 array([[0.01041613]]),
 array([[0.00963733]]),
 array([[0.01186027]]),
 array([[0.01587876]]),
 array([[0.]]),
 array([[0.00356204]]),
 array([[0.01293543]]),
 array([[0.02120464]]),
 array([[0.00569195]]),
 array([[0.]]),
 array([[0.01153274]]),
 array([[0.]]),
 array([[0.01316866]]),
 array([[0.02262608]]),
 array([[0.]]),
 array([[0.00464291]]),
 array([[0.00442265]]),
 array([[0.00719748]]),
 array([[0.04480531]]),
 array([[0.00836058]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01496851]]),
 array([[0.01014959]]),
 array([[0.03441717]]),
 array([[0.02021629]]),
 array([[0.00399643]]),
 array([[0.]]),
 array([[0.00785816]]),
 array([[0.02661104]]),
 array([[0.]]),
 array([[0.01825463]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.03491611]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00283904]]),
 array([[0.01516281]]),
 array([[0.00573269]]),
 array([[0.]]),
 array([[0.02095415]]),
 array([[0.]]),
 array([[0.03943874]]),
 array([[0.01020486]]),
 array([[0.00640219]]),
 array([[0.00308101]]),
 array([[0.0117696]]),
 array([[0.00748317]]),
 array([[0.]]),
 array([[0.00287036]]),
 array([[0.00457516]]),
 array([[0.01044428]]),
 array([[0.00732256]]),
 array([[0.]]),
 array([[0.00726966]]),
 array([[0.]]),
 array([[0.01206538]]),
 array([[0.00458254]]),
 array([[0.00806428]]),
 array([[0.0170502]]),
 array([[0.01091402]]),
 array([[0.]]),
 array([[0.02023697]]),
 array([[0.]]),
 array([[0.05208428]]),
 array([[0.01713029]]),
 array([[0.]]),
 array([[0.01125243]]),
 array([[0.00550682]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00425057]]),
 array([[0.]]),
 array([[0.028025]]),
 array([[0.0086675]]),
 array([[0.0251077]]),
 array([[0.00250959]]),
 array([[0.01344]]),
 array([[0.00419464]]),
 array([[0.]]),
 array([[0.01380195]]),
 array([[0.02025827]]),
 array([[0.]]),
 array([[0.00666798]]),
 array([[0.00862844]]),
 array([[0.00937561]]),
 array([[0.]]),
 array([[0.01220814]]),
 array([[0.00264965]]),
 array([[0.0036904]]),
 array([[0.]]),
 array([[0.00719722]]),
 array([[0.02115948]]),
 array([[0.00440416]]),
 array([[0.00347238]]),
 array([[0.01781649]]),
 array([[0.01170789]]),
 array([[0.01186027]]),
 array([[0.02039521]]),
 array([[0.0090131]]),
 array([[0.00774454]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00431406]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01460137]]),
 array([[0.00654044]]),
 array([[0.]]),
 array([[0.00391451]]),
 array([[0.]]),
 array([[0.0268726]]),
 array([[0.00542813]]),
 array([[0.04251842]]),
 array([[0.01195975]]),
 array([[0.03087744]]),
 array([[0.01007156]]),
 array([[0.]]),
 array([[0.00573878]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00327301]]),
 array([[0.]]),
 array([[0.0065333]]),
 array([[0.0067113]]),
 array([[0.00409462]]),
 array([[0.01154376]]),
 array([[0.00632352]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01061213]]),
 array([[0.00418626]]),
 array([[0.]]),
 array([[0.02781175]]),
 array([[0.01316825]]),
 array([[0.0091939]]),
 array([[0.]]),
 array([[0.00457627]]),
 array([[0.01056358]]),
 array([[0.03265758]]),
 array([[0.00688579]]),
 array([[0.00822829]]),
 array([[0.00830158]]),
 array([[0.00665633]]),
 array([[0.04940969]]),
 array([[0.03812484]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00934497]]),
 array([[0.00299898]]),
 array([[0.]]),
 array([[0.01355169]]),
 array([[0.01187356]]),
 array([[0.01871781]]),
 array([[0.0074221]]),
 array([[0.01819666]]),
 array([[0.]]),
 array([[0.00418733]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01924364]]),
 array([[0.]]),
 array([[0.00875869]]),
 array([[0.01065659]]),
 array([[0.00826175]]),
 array([[0.00746213]]),
 array([[0.02060418]]),
 array([[0.00587795]]),
 array([[0.]]),
 array([[0.01562352]]),
 array([[0.00374159]]),
 array([[0.00506863]]),
 array([[0.]]),
 array([[0.00868033]]),
 array([[0.01851971]]),
 array([[0.00408198]]),
 array([[0.00285485]]),
 array([[0.04238447]]),
 array([[0.00654791]]),
 array([[0.]]),
 array([[0.01304567]]),
 array([[0.]]),
 array([[0.00644824]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00594201]]),
 array([[0.0154162]]),
 array([[0.0186623]]),
 array([[0.04911814]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00479859]]),
 array([[0.00862756]]),
 array([[0.]]),
 array([[0.0059392]]),
 array([[0.01337759]]),
 array([[0.01585496]]),
 array([[0.01963755]]),
 array([[0.00355482]]),
 array([[0.]]),
 array([[0.00665463]]),
 array([[0.00369841]]),
 array([[0.00367279]]),
 array([[0.01030739]]),
 array([[0.00514158]]),
 array([[0.01992687]]),
 array([[0.00427571]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.03198548]]),
 array([[0.02214426]]),
 array([[0.00452603]]),
 array([[0.]]),
 array([[0.00745628]]),
 array([[0.00537002]]),
 array([[0.01551314]]),
 array([[0.00340824]]),
 array([[0.02318408]]),
 array([[0.]]),
 array([[0.01641028]]),
 array([[0.]]),
 array([[0.01416549]]),
 array([[0.02579544]]),
 array([[0.00799816]]),
 array([[0.00493959]]),
 array([[0.]]),
 array([[0.00669446]]),
 array([[0.00331275]]),
 array([[0.00401302]]),
 array([[0.01698225]]),
 array([[0.002946]]),
 array([[0.00515405]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01036118]]),
 array([[0.00421435]]),
 array([[0.]]),
 array([[0.00931264]]),
 array([[0.]]),
 array([[0.00432309]]),
 array([[0.]]),
 array([[0.00435464]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.03050086]]),
 array([[0.00735133]]),
 array([[0.03903422]]),
 array([[0.02471638]]),
 array([[0.0216002]]),
 array([[0.00663601]]),
 array([[0.]]),
 array([[0.01191335]]),
 array([[0.01490721]]),
 array([[0.]]),
 array([[0.00339265]]),
 array([[0.01667944]]),
 array([[0.]]),
 array([[0.01468973]]),
 array([[0.01483178]]),
 array([[0.01342039]]),
 array([[0.02638903]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.02345369]]),
 array([[0.00806245]]),
 array([[0.00946355]]),
 array([[0.02555013]]),
 array([[0.00676356]]),
 array([[0.01695569]]),
 array([[0.]]),
 array([[0.02680754]]),
 array([[0.]]),
 array([[0.00586872]]),
 array([[0.]]),
 array([[0.01570763]]),
 array([[0.00364954]]),
 array([[0.00615019]]),
 array([[0.01513849]]),
 array([[0.01194208]]),
 array([[0.00695345]]),
 array([[0.0041006]]),
 array([[0.00614643]]),
 array([[0.02190782]]),
 array([[0.]]),
 array([[0.01357691]]),
 array([[0.]]),
 array([[0.00648669]]),
 array([[0.]]),
 array([[0.01305659]]),
 array([[0.]]),
 array([[0.01841838]]),
 array([[0.]]),
 array([[0.01172849]]),
 array([[0.]]),
 array([[0.00592308]]),
 array([[0.00456963]]),
 array([[0.]]),
 array([[0.00378261]]),
 array([[0.]]),
 array([[0.005796]]),
 array([[0.00511651]]),
 array([[0.01298698]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00716593]]),
 array([[0.0039353]]),
 array([[0.00506611]]),
 array([[0.01423506]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.03125822]]),
 array([[0.00370761]]),
 array([[0.00347467]]),
 array([[0.]]),
 array([[0.01268652]]),
 array([[0.]]),
 array([[0.01301569]]),
 array([[0.01589373]]),
 array([[0.]]),
 array([[0.00388692]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00866937]]),
 array([[0.00367735]]),
 array([[0.02145775]]),
 array([[0.02996748]]),
 array([[0.00349204]]),
 array([[0.]]),
 array([[0.02839618]]),
 array([[0.00673629]]),
 array([[0.0059042]]),
 array([[0.01421982]]),
 array([[0.0115803]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01376111]]),
 array([[0.06192405]]),
 array([[0.00506631]]),
 array([[0.02933559]]),
 array([[0.00882567]]),
 array([[0.00975639]]),
 array([[0.00663033]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00888464]]),
 array([[0.]]),
 array([[0.00818072]]),
 array([[0.]]),
 array([[0.01203889]]),
 array([[0.]]),
 array([[0.02345301]]),
 array([[0.06765049]]),
 array([[0.0155147]]),
 array([[0.00606858]]),
 array([[0.00982519]]),
 array([[0.00663372]]),
 array([[0.00743277]]),
 array([[0.03928723]]),
 array([[0.01315544]]),
 array([[0.01172774]]),
 array([[0.]]),
 array([[0.00491851]]),
 array([[0.01098371]]),
 array([[0.01150121]]),
 array([[0.00530807]]),
 array([[0.03401572]]),
 array([[0.00591215]]),
 array([[0.]]),
 array([[0.02884863]]),
 array([[0.00530827]]),
 array([[0.03790047]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01145987]]),
 array([[0.]]),
 array([[0.02775424]]),
 array([[0.00635223]]),
 array([[0.04906141]]),
 array([[0.02940598]]),
 array([[0.00469964]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01132007]]),
 array([[0.]]),
 array([[0.00723706]]),
 array([[0.]]),
 array([[0.02379622]]),
 array([[0.00398646]]),
 array([[0.]]),
 array([[0.03070622]]),
 array([[0.01310319]]),
 array([[0.02209668]]),
 array([[0.00797246]]),
 array([[0.]]),
 array([[0.00272526]]),
 array([[0.01571479]]),
 array([[0.00549106]]),
 array([[0.01628565]]),

In [44]:
top = sorted(range(len(output2)), key=lambda i: output2[i], reverse=True)[:100]
list_scores = [output2[i][0][0] for i in top]
TF=get_recommendation(top,df, list_scores)
TF

,positionName,company,location,JobID,description,score
0,Research Analyst,Aon Corporation,"Bengaluru, Karnataka",1804,Posting Description: Job Informatio...,0.128151
1,Senior Associate - Pune - Technology Consulting,PwC,"Pune, Maharashtra",4749,Line of Service Advisory Industry/Sector Not...,0.118448
2,Insight Research Analyst,forstaffing india,"Gurgaon, Haryana",4285,Description DESCRIPTION About the com...,0.117138
3,Market Research Analyst – Cybersecurity and In...,Canalys,"Bengaluru, Karnataka",1393,Canalys is looking for a Market Research Analy...,0.102206
4,Advisory_Cyber R&R_TPRM_BLR,PwC,"Bengaluru, Karnataka",1488,Line of Service Advisory Industry/Sector Not...,0.099281
...,...,...,...,...,...,...
95,Director Engineering Blockchain & Digital Asset,Mastercard,"Pune, Maharashtra",259,Our Purpose We work to connect and power ...,0.046916
96,Product Manager,IBM,"Bengaluru, Karnataka",211,Introduction Software Developers at IBM are ...,0.046915
97,Assistant Vice President (Business Analytics),Citi,"Bengaluru, Karnataka",2759,Role Outline The role of AVP – Strategic Busi...,0.046581
98,SOC Security Analyst,"Cameo Global, Inc","Bengaluru, Karnataka",1072,Security Analyst (Level 1) Perform security mo...,0.046491
99,Quantitative Investment Analytics-Associate,"JPMorgan Chase Bank, N.A.","Mumbai, Maharashtra",2633,You are a strategic thinker passionate about d...,0.046339

## cosine_similarity + CountVectorizer

In [45]:

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

count_vectorizer = CountVectorizer()
count_jobid = count_vectorizer.fit_transform(df['All']) #converting job data into vectors using count vectorizers
count_jobid

<5502x49785 sparse matrix of type '<class 'numpy.int64'>'
	with 1658284 stored elements in Compressed Sparse Row format>

In [46]:
# print(count_jobid)

In [47]:
user_count = count_vectorizer.transform(df2['All'])#converting user cv data into vectors using count vectorizers
user_count

<1x49785 sparse matrix of type '<class 'numpy.int64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [48]:
print(user_count)

  (0, 23537)	1
  (0, 36147)	1
  (0, 36200)	1
  (0, 36449)	1
  (0, 37036)	1
  (0, 42852)	1
  (0, 43080)	1
  (0, 45634)	1

In [49]:
cos_similarity_countv = map(lambda x: cosine_similarity(user_count, x),count_jobid)
output3 = list(cos_similarity_countv)
#output3

In [50]:
output3

[array([[0.0205518]]),
 array([[0.02053158]]),
 array([[0.02164155]]),
 array([[0.02006341]]),
 array([[0.01730694]]),
 array([[0.01109924]]),
 array([[0.02284654]]),
 array([[0.02034334]]),
 array([[0.01815007]]),
 array([[0.01269641]]),
 array([[0.01940026]]),
 array([[0.01793716]]),
 array([[0.01416766]]),
 array([[0.01829745]]),
 array([[0.02129528]]),
 array([[0.01804502]]),
 array([[0.0127791]]),
 array([[0.01356876]]),
 array([[0.01861426]]),
 array([[0.01930317]]),
 array([[0.01392587]]),
 array([[0.01613609]]),
 array([[0.01821086]]),
 array([[0.]]),
 array([[0.02156308]]),
 array([[0.]]),
 array([[0.01726315]]),
 array([[0.02628602]]),
 array([[0.02298328]]),
 array([[0.03887916]]),
 array([[0.01636488]]),
 array([[0.01368067]]),
 array([[0.01671054]]),
 array([[0.01862149]]),
 array([[0.]]),
 array([[0.00951581]]),
 array([[0.]]),
 array([[0.02409347]]),
 array([[0.01982456]]),
 array([[0.]]),
 array([[0.02261786]]),
 array([[0.01804784]]),
 array([[0.02162812]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.04143139]]),
 array([[0.01501427]]),
 array([[0.]]),
 array([[0.01328207]]),
 array([[0.01445787]]),
 array([[0.01208597]]),
 array([[0.02]]),
 array([[0.00717219]]),
 array([[0.0100861]]),
 array([[0.]]),
 array([[0.0180714]]),
 array([[0.0142639]]),
 array([[0.01794612]]),
 array([[0.01510478]]),
 array([[0.02144679]]),
 array([[0.01184448]]),
 array([[0.02018888]]),
 array([[0.01204052]]),
 array([[0.01137147]]),
 array([[0.01423953]]),
 array([[0.01761175]]),
 array([[0.01096909]]),
 array([[0.01916961]]),
 array([[0.03802651]]),
 array([[0.01334758]]),
 array([[0.00773731]]),
 array([[0.02097067]]),
 array([[0.02168108]]),
 array([[0.01076327]]),
 array([[0.00986287]]),
 array([[0.00520325]]),
 array([[0.]]),
 array([[0.01641773]]),
 array([[0.]]),
 array([[0.01169664]]),
 array([[0.]]),
 array([[0.01839124]]),
 array([[0.01495455]]),
 array([[0.02160791]]),
 array([[0.02152405]]),
 array([[0.01970154]]),
 array([[0.02003787]]),
 array([[0.01915223]]),
 array([[0.00763737]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01875147]]),
 array([[0.01900056]]),
 array([[0.02415783]]),
 array([[0.06131393]]),
 array([[0.05270463]]),
 array([[0.]]),
 array([[0.01918118]]),
 array([[0.]]),
 array([[0.02197471]]),
 array([[0.00959412]]),
 array([[0.01096323]]),
 array([[0.00781059]]),
 array([[0.01664154]]),
 array([[0.01241433]]),
 array([[0.]]),
 array([[0.01889283]]),
 array([[0.02096478]]),
 array([[0.01134023]]),
 array([[0.]]),
 array([[0.01490845]]),
 array([[0.0275055]]),
 array([[0.01560406]]),
 array([[0.]]),
 array([[0.0192951]]),
 array([[0.04979296]]),
 array([[0.01957068]]),
 array([[0.00933317]]),
 array([[0.01367939]]),
 array([[0.01731358]]),
 array([[0.01397816]]),
 array([[0.01629857]]),
 array([[0.01568701]]),
 array([[0.03014086]]),
 array([[0.00749027]]),
 array([[0.02496395]]),
 array([[0.]]),
 array([[0.02091926]]),
 array([[0.01303769]]),
 array([[0.02163712]]),
 array([[0.01606024]]),
 array([[0.02499923]]),
 array([[0.]]),
 array([[0.01282367]]),
 array([[0.01151328]]),
 array([[0.00962518]]),
 array([[0.0222387]]),
 array([[0.01976166]]),
 array([[0.01071866]]),
 array([[0.01352834]]),
 array([[0.01658395]]),
 array([[0.]]),
 array([[0.0233563]]),
 array([[0.01453095]]),
 array([[0.01311821]]),
 array([[0.015625]]),
 array([[0.00509886]]),
 array([[0.02291687]]),
 array([[0.01151328]]),
 array([[0.01974967]]),
 array([[0.00636336]]),
 array([[0.01064178]]),
 array([[0.01330145]]),
 array([[0.02122276]]),
 array([[0.01282684]]),
 array([[0.02045412]]),
 array([[0.02162138]]),
 array([[0.01160804]]),
 array([[0.02470923]]),
 array([[0.0259336]]),
 array([[0.01058071]]),
 array([[0.00557972]]),
 array([[0.01709364]]),
 array([[0.01663781]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01073127]]),
 array([[0.01597191]]),
 array([[0.00915929]]),
 array([[0.00966556]]),
 array([[0.01717007]]),
 array([[0.02234063]]),
 array([[0.01330321]]),
 array([[0.01802265]]),
 array([[0.02162475]]),
 array([[0.00553849]]),
 array([[0.01536782]]),
 array([[0.01480716]]),
 array([[0.01993821]]),
 array([[0.01866633]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01811903]]),
 array([[0.]]),
 array([[0.00720189]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01169451]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00762138]]),
 array([[0.01996362]]),
 array([[0.00796011]]),
 array([[0.]]),
 array([[0.01204208]]),
 array([[0.01942718]]),
 array([[0.]]),
 array([[0.01008507]]),
 array([[0.01974453]]),
 array([[0.01723114]]),
 array([[0.]]),
 array([[0.00687582]]),
 array([[0.01719035]]),
 array([[0.01142478]]),
 array([[0.02518703]]),
 array([[0.00666845]]),
 array([[0.01117848]]),
 array([[0.01633538]]),
 array([[0.03292325]]),
 array([[0.01325288]]),
 array([[0.]]),
 array([[0.01334223]]),
 array([[0.01755437]]),
 array([[0.0103274]]),
 array([[0.01540103]]),
 array([[0.01306771]]),
 array([[0.02139129]]),
 array([[0.01074724]]),
 array([[0.01489944]]),
 array([[0.02811292]]),
 array([[0.02192316]]),
 array([[0.01418349]]),
 array([[0.00721838]]),
 array([[0.01081518]]),
 array([[0.01665409]]),
 array([[0.01087567]]),
 array([[0.02574704]]),
 array([[0.01421195]]),
 array([[0.00769686]]),
 array([[0.01740755]]),
 array([[0.01868832]]),
 array([[0.01216981]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00793951]]),
 array([[0.]]),
 array([[0.00710669]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.0091348]]),
 array([[0.02570448]]),
 array([[0.01491747]]),
 array([[0.02493141]]),
 array([[0.01556915]]),
 array([[0.]]),
 array([[0.03141268]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.02042876]]),
 array([[0.02347191]]),
 array([[0.01271643]]),
 array([[0.]]),
 array([[0.0063987]]),
 array([[0.01396452]]),
 array([[0.02464819]]),
 array([[0.02005056]]),
 array([[0.01859761]]),
 array([[0.01277753]]),
 array([[0.02281212]]),
 array([[0.01046778]]),
 array([[0.]]),
 array([[0.01453326]]),
 array([[0.01929495]]),
 array([[0.01549005]]),
 array([[0.]]),
 array([[0.00424675]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01855879]]),
 array([[0.01444655]]),
 array([[0.0087875]]),
 array([[0.02157684]]),
 array([[0.01091609]]),
 array([[0.]]),
 array([[0.02714293]]),
 array([[0.00780298]]),
 array([[0.]]),
 array([[0.01577986]]),
 array([[0.02106127]]),
 array([[0.01968271]]),
 array([[0.00873038]]),
 array([[0.02159335]]),
 array([[0.02231061]]),
 array([[0.]]),
 array([[0.02318994]]),
 array([[0.]]),
 array([[0.02487422]]),
 array([[0.01615151]]),
 array([[0.01442625]]),
 array([[0.]]),
 array([[0.01688265]]),
 array([[0.]]),
 array([[0.01730667]]),
 array([[0.01983265]]),
 array([[0.02146145]]),
 array([[0.01173452]]),
 array([[0.0075717]]),
 array([[0.02400999]]),
 array([[0.]]),
 array([[0.0237766]]),
 array([[0.00920159]]),
 array([[0.00800026]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01896153]]),
 array([[0.03764142]]),
 array([[0.01164296]]),
 array([[0.]]),
 array([[0.00861102]]),
 array([[0.02304422]]),
 array([[0.01910402]]),
 array([[0.01715398]]),
 array([[0.02394118]]),
 array([[0.01521452]]),
 array([[0.00976417]]),
 array([[0.01776398]]),
 array([[0.020997]]),
 array([[0.02063757]]),
 array([[0.01585018]]),
 array([[0.01895245]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.02248469]]),
 array([[0.01330616]]),
 array([[0.]]),
 array([[0.02188441]]),
 array([[0.03520167]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.0183063]]),
 array([[0.05478979]]),
 array([[0.00941889]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.02039543]]),
 array([[0.01458427]]),
 array([[0.02050007]]),
 array([[0.00433425]]),
 array([[0.01780544]]),
 array([[0.00556656]]),
 array([[0.]]),
 array([[0.00794853]]),
 array([[0.0205934]]),
 array([[0.004997]]),
 array([[0.01649647]]),
 array([[0.02101884]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01312485]]),
 array([[0.00832294]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.02518964]]),
 array([[0.02659976]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.02083735]]),
 array([[0.01668522]]),
 array([[0.01107019]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00330207]]),
 array([[0.01526776]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.0249427]]),
 array([[0.00479794]]),
 array([[0.01020196]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00804154]]),
 array([[0.01118593]]),
 array([[0.02674523]]),
 array([[0.01652263]]),
 array([[0.0110865]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01509617]]),
 array([[0.03082429]]),
 array([[0.01185114]]),
 array([[0.]]),
 array([[0.01612065]]),
 array([[0.]]),
 array([[0.01775552]]),
 array([[0.]]),
 array([[0.00797985]]),
 array([[0.0092318]]),
 array([[0.01589104]]),
 array([[0.]]),
 array([[0.00546783]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01579659]]),
 array([[0.]]),
 array([[0.02341144]]),
 array([[0.00701241]]),
 array([[0.]]),
 array([[0.01941663]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.04260096]]),
 array([[0.02153652]]),
 array([[0.02049226]]),
 array([[0.00710382]]),
 array([[0.00654729]]),
 array([[0.01538644]]),
 array([[0.02191066]]),
 array([[0.]]),
 array([[0.01918824]]),
 array([[0.00922453]]),
 array([[0.02001602]]),
 array([[0.03068582]]),
 array([[0.]]),
 array([[0.01342312]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01067947]]),
 array([[0.01084525]]),
 array([[0.04789818]]),
 array([[0.01916708]]),
 array([[0.01394007]]),
 array([[0.]]),
 array([[0.01877128]]),
 array([[0.]]),
 array([[0.01331087]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.0208696]]),
 array([[0.]]),
 array([[0.01366916]]),
 array([[0.01438291]]),
 array([[0.01262691]]),
 array([[0.0160914]]),
 array([[0.01261284]]),
 array([[0.01681207]]),
 array([[0.01325696]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01358064]]),
 array([[0.00790421]]),
 array([[0.]]),
 array([[0.01958819]]),
 array([[0.01711633]]),
 array([[0.]]),
 array([[0.01546721]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.02801659]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.02517766]]),
 array([[0.]]),
 array([[0.0251657]]),
 array([[0.01311257]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01020196]]),
 array([[0.]]),
 array([[0.01464269]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.0064071]]),
 array([[0.00796819]]),
 array([[0.01452176]]),
 array([[0.01261133]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.0246782]]),
 array([[0.]]),
 array([[0.01693214]]),
 array([[0.01509235]]),
 array([[0.00943165]]),
 array([[0.00378289]]),
 array([[0.01739854]]),
 array([[0.01032961]]),
 array([[0.00947282]]),
 array([[0.]]),
 array([[0.00442703]]),
 array([[0.00625]]),
 array([[0.0092159]]),
 array([[0.00992583]]),
 array([[0.0082608]]),
 array([[0.01006462]]),
 array([[0.01048055]]),
 array([[0.00963143]]),
 array([[0.01251565]]),
 array([[0.01378993]]),
 array([[0.]]),
 array([[0.00459937]]),
 array([[0.00974139]]),
 array([[0.01479332]]),
 array([[0.00751901]]),
 array([[0.]]),
 array([[0.030722]]),
 array([[0.]]),
 array([[0.01440677]]),
 array([[0.02463921]]),
 array([[0.]]),
 array([[0.00625244]]),
 array([[0.00632962]]),
 array([[0.00847458]]),
 array([[0.02302351]]),
 array([[0.00879467]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.0067316]]),
 array([[0.00990536]]),
 array([[0.01489389]]),
 array([[0.01767767]]),
 array([[0.00643143]]),
 array([[0.]]),
 array([[0.00567889]]),
 array([[0.01659994]]),
 array([[0.]]),
 array([[0.01003417]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01651033]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00444519]]),
 array([[0.00673435]]),
 array([[0.00489867]]),
 array([[0.]]),
 array([[0.01150109]]),
 array([[0.]]),
 array([[0.01726315]]),
 array([[0.01762816]]),
 array([[0.01044048]]),
 array([[0.00267322]]),
 array([[0.01833089]]),
 array([[0.0064421]]),
 array([[0.]]),
 array([[0.00467924]]),
 array([[0.00735135]]),
 array([[0.01293368]]),
 array([[0.00509462]]),
 array([[0.]]),
 array([[0.01439781]]),
 array([[0.]]),
 array([[0.01780329]]),
 array([[0.00735612]]),
 array([[0.00653497]]),
 array([[0.01188289]]),
 array([[0.01145205]]),
 array([[0.]]),
 array([[0.01688034]]),
 array([[0.]]),
 array([[0.01703007]]),
 array([[0.01649049]]),
 array([[0.]]),
 array([[0.01125801]]),
 array([[0.00346688]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00372678]]),
 array([[0.]]),
 array([[0.02411663]]),
 array([[0.00836853]]),
 array([[0.02990446]]),
 array([[0.00403488]]),
 array([[0.00756188]]),
 array([[0.00587869]]),
 array([[0.]]),
 array([[0.01445836]]),
 array([[0.02336984]]),
 array([[0.]]),
 array([[0.00724106]]),
 array([[0.01227942]]),
 array([[0.01329465]]),
 array([[0.]]),
 array([[0.01533299]]),
 array([[0.00280616]]),
 array([[0.00332816]]),
 array([[0.]]),
 array([[0.0076955]]),
 array([[0.02055759]]),
 array([[0.00609665]]),
 array([[0.00451938]]),
 array([[0.01969936]]),
 array([[0.01208597]]),
 array([[0.01132713]]),
 array([[0.00978888]]),
 array([[0.00749027]]),
 array([[0.01060236]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00538164]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00465767]]),
 array([[0.00735612]]),
 array([[0.]]),
 array([[0.00541372]]),
 array([[0.]]),
 array([[0.01137147]]),
 array([[0.00412449]]),
 array([[0.02318694]]),
 array([[0.00692223]]),
 array([[0.01387284]]),
 array([[0.01866633]]),
 array([[0.]]),
 array([[0.01142876]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00417625]]),
 array([[0.]]),
 array([[0.00735453]]),
 array([[0.00369207]]),
 array([[0.0055095]]),
 array([[0.0195273]]),
 array([[0.00546848]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00923746]]),
 array([[0.00685253]]),
 array([[0.]]),
 array([[0.01119715]]),
 array([[0.01126658]]),
 array([[0.00828287]]),
 array([[0.]]),
 array([[0.00568696]]),
 array([[0.01323604]]),
 array([[0.02748083]]),
 array([[0.00586573]]),
 array([[0.01223522]]),
 array([[0.00615178]]),
 array([[0.00724562]]),
 array([[0.0249006]]),
 array([[0.04208273]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01330616]]),
 array([[0.00351851]]),
 array([[0.]]),
 array([[0.01105935]]),
 array([[0.0100687]]),
 array([[0.01974881]]),
 array([[0.00521513]]),
 array([[0.00970188]]),
 array([[0.]]),
 array([[0.00587869]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.02343392]]),
 array([[0.]]),
 array([[0.00719443]]),
 array([[0.01745012]]),
 array([[0.0163605]]),
 array([[0.00614899]]),
 array([[0.0126264]]),
 array([[0.00402676]]),
 array([[0.]]),
 array([[0.02125576]]),
 array([[0.00457581]]),
 array([[0.00802909]]),
 array([[0.]]),
 array([[0.00806032]]),
 array([[0.01979519]]),
 array([[0.00462211]]),
 array([[0.00317079]]),
 array([[0.01915223]]),
 array([[0.00924027]]),
 array([[0.]]),
 array([[0.01084114]]),
 array([[0.]]),
 array([[0.00436619]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00454583]]),
 array([[0.01238824]]),
 array([[0.01691921]]),
 array([[0.01886009]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.0068054]]),
 array([[0.01167855]]),
 array([[0.]]),
 array([[0.00254335]]),
 array([[0.01872077]]),
 array([[0.01596377]]),
 array([[0.01792495]]),
 array([[0.00502151]]),
 array([[0.]]),
 array([[0.00627752]]),
 array([[0.00477513]]),
 array([[0.00473854]]),
 array([[0.0060333]]),
 array([[0.01270821]]),
 array([[0.01582849]]),
 array([[0.00597358]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01805248]]),
 array([[0.02788867]]),
 array([[0.0028787]]),
 array([[0.]]),
 array([[0.01345955]]),
 array([[0.00695788]]),
 array([[0.01331795]]),
 array([[0.00364024]]),
 array([[0.01950356]]),
 array([[0.]]),
 array([[0.02013831]]),
 array([[0.]]),
 array([[0.0153406]]),
 array([[0.03196558]]),
 array([[0.0098011]]),
 array([[0.00789977]]),
 array([[0.]]),
 array([[0.01378033]]),
 array([[0.00433881]]),
 array([[0.0055095]]),
 array([[0.01607892]]),
 array([[0.00409561]]),
 array([[0.00461659]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01455145]]),
 array([[0.00601146]]),
 array([[0.]]),
 array([[0.01105664]]),
 array([[0.]]),
 array([[0.00609032]]),
 array([[0.]]),
 array([[0.00315534]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01281683]]),
 array([[0.00741086]]),
 array([[0.03603845]]),
 array([[0.02739983]]),
 array([[0.02081327]]),
 array([[0.00634975]]),
 array([[0.]]),
 array([[0.01062868]]),
 array([[0.01728253]]),
 array([[0.]]),
 array([[0.00586977]]),
 array([[0.01634836]]),
 array([[0.]]),
 array([[0.01376465]]),
 array([[0.01517398]]),
 array([[0.00770508]]),
 array([[0.01811309]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01333867]]),
 array([[0.00476428]]),
 array([[0.013425]]),
 array([[0.03112382]]),
 array([[0.00655303]]),
 array([[0.01739957]]),
 array([[0.]]),
 array([[0.0096359]]),
 array([[0.]]),
 array([[0.00550282]]),
 array([[0.]]),
 array([[0.0119952]]),
 array([[0.00653274]]),
 array([[0.01216981]]),
 array([[0.02116062]]),
 array([[0.01131552]]),
 array([[0.00988985]]),
 array([[0.00550682]]),
 array([[0.01174602]]),
 array([[0.01703254]]),
 array([[0.]]),
 array([[0.0228188]]),
 array([[0.]]),
 array([[0.01054093]]),
 array([[0.]]),
 array([[0.00511216]]),
 array([[0.]]),
 array([[0.00783693]]),
 array([[0.]]),
 array([[0.01110563]]),
 array([[0.]]),
 array([[0.00715528]]),
 array([[0.00983612]]),
 array([[0.]]),
 array([[0.00438158]]),
 array([[0.]]),
 array([[0.00656193]]),
 array([[0.00491901]]),
 array([[0.01901937]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00550682]]),
 array([[0.00541626]]),
 array([[0.00923081]]),
 array([[0.01610392]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.03228981]]),
 array([[0.00509621]]),
 array([[0.00914702]]),
 array([[0.]]),
 array([[0.01240538]]),
 array([[0.]]),
 array([[0.02042093]]),
 array([[0.01334164]]),
 array([[0.]]),
 array([[0.00462963]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00862839]]),
 array([[0.00463082]]),
 array([[0.01643546]]),
 array([[0.01197512]]),
 array([[0.00425659]]),
 array([[0.]]),
 array([[0.01480716]]),
 array([[0.00510364]]),
 array([[0.00593809]]),
 array([[0.01767767]]),
 array([[0.01330616]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00656872]]),
 array([[0.05321796]]),
 array([[0.00945587]]),
 array([[0.01282367]]),
 array([[0.00965744]]),
 array([[0.01585505]]),
 array([[0.01091609]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.01151939]]),
 array([[0.]]),
 array([[0.0081476]]),
 array([[0.]]),
 array([[0.01235793]]),
 array([[0.]]),
 array([[0.00463082]]),
 array([[0.0570581]]),
 array([[0.01755858]]),
 array([[0.00467269]]),
 array([[0.00909241]]),
 array([[0.00416233]]),
 array([[0.00680792]]),
 array([[0.01889283]]),
 array([[0.01152755]]),
 array([[0.01229921]]),
 array([[0.]]),
 array([[0.00585929]]),
 array([[0.00501608]]),
 array([[0.00507307]]),
 array([[0.00638226]]),
 array([[0.01710742]]),
 array([[0.00427929]]),
 array([[0.]]),
 array([[0.05379922]]),
 array([[0.00645928]]),
 array([[0.01646662]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00867124]]),
 array([[0.]]),
 array([[0.01073127]]),
 array([[0.00453423]]),
 array([[0.02496395]]),
 array([[0.01282684]]),
 array([[0.00529404]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.00527809]]),
 array([[0.]]),
 array([[0.01132277]]),
 array([[0.]]),
 array([[0.00983707]]),
 array([[0.00480903]]),
 array([[0.]]),
 array([[0.03317399]]),
 array([[0.00917676]]),
 array([[0.00505929]]),
 array([[0.01290994]]),
 array([[0.]]),
 array([[0.0034076]]),
 array([[0.00570396]]),
 array([[0.00600106]]),
 array([[0.01635466]]),

In [51]:
df.rating

0       3.9
1       3.9
2       3.9
3       3.9
4       3.9
       ...
5497    3.9
5498    3.9
5499    4.0
5500    3.9
5501    3.9
Name: rating, Length: 5502, dtype: float64

In [52]:
top = sorted(range(len(output3)), key=lambda i: output3[i], reverse=True)[:100]
list_scores = [output3[i][0][0] for i in top]
cv=get_recommendation(top, df, list_scores)
cv

,positionName,company,location,JobID,description,score
0,Research Analyst,Aon Corporation,"Bengaluru, Karnataka",1804,Posting Description: Job Informatio...,0.112552
1,Insight Research Analyst,forstaffing india,"Gurgaon, Haryana",4285,Description DESCRIPTION About the com...,0.105
2,Market Research Analyst – Cybersecurity and In...,Canalys,"Bengaluru, Karnataka",1393,Canalys is looking for a Market Research Analy...,0.095345
3,Lead Frontend Developer,BigShyft,"Bengaluru, Karnataka",3082,What makes you a great fit: Good pr...,0.094967
4,Lead Frontend Developer,BigShyft,"Bengaluru, Karnataka",4872,What makes you a great fit: Good pr...,0.094967
...,...,...,...,...,...,...
95,Clinical Programmer II - (ePRO/eCOA),Syneos Health Clinical,"Pune, Maharashtra",4674,Description Clinical Programmer II (eCOA/ePRO...,0.04226
96,Magento Technical Lead,BORN Group,India,671,IN - Remote India ...,0.042083
97,Advisory_Cyber R&R_TPRM_BLR,PwC,"Bengaluru, Karnataka",1488,Line of Service Advisory Industry/Sector Not...,0.0415
98,Application Architect,Wipro Limited,"Hyderabad, Telangana",46,Overview: Role Purpose The purpose of the r...,0.041431
99,Digital Analytics-Lead,MNR Solutions Private Limited,"Bengaluru, Karnataka",2978,Job Description:Objective:eB2B Program is the ...,0.041386

In [53]:
cv.description[1]

'Description    DESCRIPTION       About the company:     Location: - Gurgaon     Team Strength: 300+ people.     About the Company: We are a team of analysts, engineers, data scientists, and designers building powerful intelligence tools for business users. Company is a 360-degree market intelligence platform that enables businesses to monitor competitors, customers, suppliers, and critical market variables against event trigger on an ongoing basis with unmatched precision and relevance. The product team at Company is responsible for defining the enhancements and new features around the various aspects of our flagship product. This involves feature additions to our flagship platform, performance/architecture enhancements, tuning our NLP, improvements in our sourcing engine, machine learning algorithms, and much more. We stay on the cutting edge while being sensible about it.            About the position: Designation: InSight Research Analyst     Experience required- 3-5 years     Reporting To: Manager     Vacancy: 1     Cab- No     Travel involved - No Working Days: Day shift job (9 Hours per day with 5 days a week. Should be flexible to work in a start-up environment) Undergraduate: BBA/ B.Tech            ABOUT THE TEAM:     The Insights team at Company helps clients in tracking and develop actionable analysis and insight around their industry trends and outlook, competitors’ activity and strategy, and clients and suppliers on a real-time basis. To achieve this, the team uses a mix of methods, including traditional market research and the proprietary platform of the Company to gather information and a variety of tools to conduct in-depth analyses. The market intelligence team serves clients across industries and geographies.            ABOUT THE ROLE:     Job Description     ➔ Research:        Prepare understanding of the client’s problem statement and device appropriate research approach           Conduct desk and Contify platform driven research on a particular industry/segment/competitors/topic           Structure and analyze intelligence gathered coherently and succinctly to develop actionable insights           Prepare standard/custom reports around industry/ competitor/company/ topical analysis           Work on various team-specific strategic initiatives        ➔ Project Execution/Management:        Engage with senior members of the client and project teams to identify and address project bottlenecks           Conduct a quality check of the work of team members           Contribute actively to project and team discussions           Bring continuous process improvement and solution-oriented approach toward work        ➔ Client Communication:        Conduct written (and verbal communication) with clients to update on project progress and resolve queries           Conduct client walkthrough for reports/analysis prepared        ➔ Other:        Liaison with the Contify platform team to report issues/suggest        enhancement measures        Contribute to the organization in the form of internal initiatives        Requirements         4-6 year’s work experience in Secondary Qualitative research, Competitive Intelligence and analysis, company benchmarking, market share research, market research           Proven analytical and problem-solving skills, scientific about measuring progress, and have worked closely with the leadership teams of a growing organization.'

## TfidfVectorizer + NearestNeighbors

In [54]:
from sklearn.neighbors import NearestNeighbors

def KNN(scraped_data, cv):
    tfidf_vectorizer = TfidfVectorizer(stop_words='english')

    
    KNN = NearestNeighbors(n_neighbors=100,p=2)
    KNN.fit(tfidf_vectorizer.fit_transform(scraped_data))
#     NNs = KNN.kneighbors(tfidf_vectorizer.transform(cv), return_distance=True)
    NNs = KNN.kneighbors(tfidf_vectorizer.transform(cv))
    top = NNs[1][0][1:]
    index_score = NNs[0][0][1:]

    knn = get_recommendation(top, df, index_score)
    return knn

knn = KNN(df['All'], df2['All'])
knn

,positionName,company,location,JobID,description,score
0,Senior Associate - Pune - Technology Consulting,PwC,"Pune, Maharashtra",4749,Line of Service Advisory Industry/Sector Not...,1.32782
1,Insight Research Analyst,forstaffing india,"Gurgaon, Haryana",4285,Description DESCRIPTION About the com...,1.328806
2,Market Research Analyst – Cybersecurity and In...,Canalys,"Bengaluru, Karnataka",1393,Canalys is looking for a Market Research Analy...,1.339996
3,Advisory_Cyber R&R_TPRM_BLR,PwC,"Bengaluru, Karnataka",1488,Line of Service Advisory Industry/Sector Not...,1.342176
4,Sr Clinical Programmer (SAS Listings),Syneos Health Clinical,Remote,1699,Description Senior Clinical Programmer (SAS L...,1.346427
...,...,...,...,...,...,...
94,Director Engineering Blockchain & Digital Asset,Mastercard,"Pune, Maharashtra",259,Our Purpose We work to connect and power ...,1.38064
95,Product Manager,IBM,"Bengaluru, Karnataka",211,Introduction Software Developers at IBM are ...,1.380641
96,Assistant Vice President (Business Analytics),Citi,"Bengaluru, Karnataka",2759,Role Outline The role of AVP – Strategic Busi...,1.380883
97,SOC Security Analyst,"Cameo Global, Inc","Bengaluru, Karnataka",1072,Security Analyst (Level 1) Perform security mo...,1.380948
98,Quantitative Investment Analytics-Associate,"JPMorgan Chase Bank, N.A.","Mumbai, Maharashtra",2633,You are a strategic thinker passionate about d...,1.381058

In [55]:

knn.to_csv('knn.csv', index=False)

In [56]:
cv

,positionName,company,location,JobID,description,score
0,Research Analyst,Aon Corporation,"Bengaluru, Karnataka",1804,Posting Description: Job Informatio...,0.112552
1,Insight Research Analyst,forstaffing india,"Gurgaon, Haryana",4285,Description DESCRIPTION About the com...,0.105
2,Market Research Analyst – Cybersecurity and In...,Canalys,"Bengaluru, Karnataka",1393,Canalys is looking for a Market Research Analy...,0.095345
3,Lead Frontend Developer,BigShyft,"Bengaluru, Karnataka",3082,What makes you a great fit: Good pr...,0.094967
4,Lead Frontend Developer,BigShyft,"Bengaluru, Karnataka",4872,What makes you a great fit: Good pr...,0.094967
...,...,...,...,...,...,...
95,Clinical Programmer II - (ePRO/eCOA),Syneos Health Clinical,"Pune, Maharashtra",4674,Description Clinical Programmer II (eCOA/ePRO...,0.04226
96,Magento Technical Lead,BORN Group,India,671,IN - Remote India ...,0.042083
97,Advisory_Cyber R&R_TPRM_BLR,PwC,"Bengaluru, Karnataka",1488,Line of Service Advisory Industry/Sector Not...,0.0415
98,Application Architect,Wipro Limited,"Hyderabad, Telangana",46,Overview: Role Purpose The purpose of the r...,0.041431
99,Digital Analytics-Lead,MNR Solutions Private Limited,"Bengaluru, Karnataka",2978,Job Description:Objective:eB2B Program is the ...,0.041386

## Combined TFIDF, CV and KNN result together, to make a dataframe "final"

In [57]:
merge1 = knn[['JobID','positionName', 'score']].merge(TF[['JobID','score']], on= "JobID")

In [59]:
# merge1 = knn[['JobID','title', 'score']].merge(TF[['JobID','score']], on= "JobID")
# final = merge1.merge(cv[['JobID','score']], on = "JobID")
# final = final.rename(columns={"score_x": "KNN", "score_y": "TF-IDF","score": "CV"})
# final.head()a

final = merge1.merge(cv[['JobID','score']], on = "JobID")
final = final.rename(columns={"score_x": "KNN", "score_y": "TF-IDF","score": "CV"})
final.head()

,JobID,positionName,KNN,TF-IDF,CV
0,4749,Senior Associate - Pune - Technology Consulting,1.32782,0.118448,0.04605
1,4285,Insight Research Analyst,1.328806,0.117138,0.105
2,1393,Market Research Analyst – Cybersecurity and In...,1.339996,0.102206,0.095345
3,1488,Advisory_Cyber R&R_TPRM_BLR,1.342176,0.099281,0.0415
4,4674,Clinical Programmer II - (ePRO/eCOA),1.349381,0.089585,0.04226

In [58]:
final

NameError: name 'final' is not defined

In [60]:
# Scale it
from sklearn.preprocessing import MinMaxScaler
slr = MinMaxScaler()
final[["KNN", "TF-IDF", 'CV']] = slr.fit_transform(final[["KNN", "TF-IDF", 'CV']])

# Multiply by weights
final['KNN'] = (1-final['KNN'])/3
final['TF-IDF'] = final['TF-IDF']/3
final['CV'] = final['CV']/3
final['Final'] = final['KNN']+final['TF-IDF']+final['CV']
final.sort_values(by="Final", ascending=False)

,JobID,positionName,KNN,TF-IDF,CV,Final
1,4285,Insight Research Analyst,0.327140,0.327259,0.333333,0.987731
2,1393,Market Research Analyst – Cybersecurity and In...,0.256845,0.257999,0.282702,0.797545
0,4749,Senior Associate - Pune - Technology Consulting,0.333333,0.333333,0.024221,0.690887
6,4632,Sales Manager - Auto Loans,0.165718,0.167350,0.258462,0.591529
7,4702,Marketing Manager Bangalore Market,0.165653,0.167286,0.167685,0.500624
3,1488,Advisory_Cyber R&R_TPRM_BLR,0.243147,0.244435,0.000359,0.487941
5,2906,People Analytics Research & Thought Leadership...,0.178746,0.180370,0.121419,0.480535
12,3082,Lead Frontend Developer,0.088072,0.089341,0.280722,0.458135
13,5362,Lead Frontend Developer,0.088017,0.089286,0.280722,0.458025
14,4872,Lead Frontend Developer,0.087882,0.089150,0.280722,0.457754
4,4674,Clinical Programmer II - (ePRO/eCOA),0.197886,0.199462,0.004346,0.401694
15,4694,Asst. Manager/ Deputy Manager – Plug & Socket,0.084625,0.085862,0.221714,0.392202
9,1697,API Automation Tester,0.107586,0.109014,0.129100,0.345699
10,1920,JOB OPENING FOR PERSON WITH DISABILITIES IN CO...,0.098229,0.099586,0.120686,0.318501
8,4686,Clinical Statistician,0.144892,0.146497,0.009136,0.300525
24,1765,Research Analyst II - EO/IR & Radar Systems (H...,0.064033,0.065047,0.152148,0.281227
11,881,"Tech Manager, Cloud operations Engineer",0.096382,0.097724,0.081941,0.276047
19,1814,Intern,0.076402,0.077556,0.116478,0.270437
32,1020,Content writing and market research – Cyber Se...,0.040035,0.040725,0.160055,0.240814
21,5144,Lead Business Intelligence Developer,0.064899,0.065923,0.085675,0.216497
22,1531,Lead Business Intelligence Developer,0.064848,0.065871,0.085675,0.216395
23,3056,Lead Business Intelligence Developer,0.064818,0.065841,0.085675,0.216334
29,3967,Team Lead - HR Associate,0.050295,0.051131,0.112544,0.213970
16,1554,Know Your Customer - Client Data Analyst - Tea...,0.083907,0.085137,0.042043,0.211087
17,4755,Know Your Customer - Client Data Analyst - Tea...,0.083688,0.084916,0.042043,0.210646
20,866,Architect I - Cloud Infrastructure Services,0.070079,0.071164,0.061805,0.203048
30,4116,Technical Research Analyst,0.048419,0.049229,0.079552,0.177200
31,4968,Territory Manager - Mortgage Sales,0.045361,0.046129,0.074246,0.165736
18,46,Application Architect,0.082164,0.083377,0.000000,0.165542
27,4812,Sales Manager- Clix,0.051447,0.052299,0.061099,0.164845
43,2464,Lead Java Developer with Python,0.004507,0.004594,0.152837,0.161937
44,4806,Business Development Executive,0.003976,0.004053,0.146768,0.154797
36,4791,Product Manager – Sales for Lab Equipment,0.032943,0.033525,0.078664,0.145133
25,3344,Lead II - Software Engineering,0.062703,0.063700,0.015125,0.141529
26,1629,Risk Modelling & Analytics Specialist,0.057010,0.057936,0.018935,0.133881
34,4654,Product Marketing Associate,0.036534,0.037172,0.055353,0.129058
35,1656,Product Marketing Associate,0.036504,0.037141,0.055353,0.128998
41,1313,Lead Cyber Security- Database Security,0.008848,0.009017,0.097126,0.114992
33,2876,Data Science Trainer,0.039902,0.040590,0.031975,0.112468
28,432,Associate Product Manager I,0.050956,0.051802,0.006133,0.108891
37,117,Technical Lead,0.029999,0.030534,0.043845,0.104379
38,4849,Senior Product Design,0.026010,0.026480,0.051195,0.103684
39,97,Blockchain Lead,0.020473,0.020849,0.059113,0.100435
40,2567,India Market Unit - Data Science - Utilities -...,0.013028,0.013273,0.065313,0.091614
42,1847,Technical Research Analyst (Offshore Field Dev...,0.007876,0.008027,0.031063,0.046966
45,2759,Assistant Vice President (Business Analytics),0.000000,0.000000,0.008347,0.008347

In [61]:
# final.to_csv('final.csv', index=False)
final2 = final.sort_values(by="Final", ascending=False).copy()
final2

,JobID,positionName,KNN,TF-IDF,CV,Final
1,4285,Insight Research Analyst,0.327140,0.327259,0.333333,0.987731
2,1393,Market Research Analyst – Cybersecurity and In...,0.256845,0.257999,0.282702,0.797545
0,4749,Senior Associate - Pune - Technology Consulting,0.333333,0.333333,0.024221,0.690887
6,4632,Sales Manager - Auto Loans,0.165718,0.167350,0.258462,0.591529
7,4702,Marketing Manager Bangalore Market,0.165653,0.167286,0.167685,0.500624
3,1488,Advisory_Cyber R&R_TPRM_BLR,0.243147,0.244435,0.000359,0.487941
5,2906,People Analytics Research & Thought Leadership...,0.178746,0.180370,0.121419,0.480535
12,3082,Lead Frontend Developer,0.088072,0.089341,0.280722,0.458135
13,5362,Lead Frontend Developer,0.088017,0.089286,0.280722,0.458025
14,4872,Lead Frontend Developer,0.087882,0.089150,0.280722,0.457754
4,4674,Clinical Programmer II - (ePRO/eCOA),0.197886,0.199462,0.004346,0.401694
15,4694,Asst. Manager/ Deputy Manager – Plug & Socket,0.084625,0.085862,0.221714,0.392202
9,1697,API Automation Tester,0.107586,0.109014,0.129100,0.345699
10,1920,JOB OPENING FOR PERSON WITH DISABILITIES IN CO...,0.098229,0.099586,0.120686,0.318501
8,4686,Clinical Statistician,0.144892,0.146497,0.009136,0.300525
24,1765,Research Analyst II - EO/IR & Radar Systems (H...,0.064033,0.065047,0.152148,0.281227
11,881,"Tech Manager, Cloud operations Engineer",0.096382,0.097724,0.081941,0.276047
19,1814,Intern,0.076402,0.077556,0.116478,0.270437
32,1020,Content writing and market research – Cyber Se...,0.040035,0.040725,0.160055,0.240814
21,5144,Lead Business Intelligence Developer,0.064899,0.065923,0.085675,0.216497
22,1531,Lead Business Intelligence Developer,0.064848,0.065871,0.085675,0.216395
23,3056,Lead Business Intelligence Developer,0.064818,0.065841,0.085675,0.216334
29,3967,Team Lead - HR Associate,0.050295,0.051131,0.112544,0.213970
16,1554,Know Your Customer - Client Data Analyst - Tea...,0.083907,0.085137,0.042043,0.211087
17,4755,Know Your Customer - Client Data Analyst - Tea...,0.083688,0.084916,0.042043,0.210646
20,866,Architect I - Cloud Infrastructure Services,0.070079,0.071164,0.061805,0.203048
30,4116,Technical Research Analyst,0.048419,0.049229,0.079552,0.177200
31,4968,Territory Manager - Mortgage Sales,0.045361,0.046129,0.074246,0.165736
18,46,Application Architect,0.082164,0.083377,0.000000,0.165542
27,4812,Sales Manager- Clix,0.051447,0.052299,0.061099,0.164845
43,2464,Lead Java Developer with Python,0.004507,0.004594,0.152837,0.161937
44,4806,Business Development Executive,0.003976,0.004053,0.146768,0.154797
36,4791,Product Manager – Sales for Lab Equipment,0.032943,0.033525,0.078664,0.145133
25,3344,Lead II - Software Engineering,0.062703,0.063700,0.015125,0.141529
26,1629,Risk Modelling & Analytics Specialist,0.057010,0.057936,0.018935,0.133881
34,4654,Product Marketing Associate,0.036534,0.037172,0.055353,0.129058
35,1656,Product Marketing Associate,0.036504,0.037141,0.055353,0.128998
41,1313,Lead Cyber Security- Database Security,0.008848,0.009017,0.097126,0.114992
33,2876,Data Science Trainer,0.039902,0.040590,0.031975,0.112468
28,432,Associate Product Manager I,0.050956,0.051802,0.006133,0.108891
37,117,Technical Lead,0.029999,0.030534,0.043845,0.104379
38,4849,Senior Product Design,0.026010,0.026480,0.051195,0.103684
39,97,Blockchain Lead,0.020473,0.020849,0.059113,0.100435
40,2567,India Market Unit - Data Science - Utilities -...,0.013028,0.013273,0.065313,0.091614
42,1847,Technical Research Analyst (Offshore Field Dev...,0.007876,0.008027,0.031063,0.046966
45,2759,Assistant Vice President (Business Analytics),0.000000,0.000000,0.008347,0.008347

In [62]:
# final2.merge(df, on="JobID")
final_df = df.merge(final2, on="JobID")
final_df

,company,positionName_x,description,salary,location,rating,reviewsCount,postedAt,externalApplyLink,url,JobID,All,positionName_y,KNN,TF-IDF,CV,Final
0,Wipro Limited,Application Architect,Overview: Role Purpose The purpose of the r...,NaN,"Hyderabad, Telangana",3.8,15889.0,2 days ago,NaN,https://www.indeed.co.in/rc/clk?jk=40a414d7cbf...,46,"Wipro Limited,Application Architect,\r\n Overv...",Application Architect,0.082164,0.083377,0.000000,0.165542
1,Tech Alchemy,Blockchain Lead,"About Us: At Tech Alchemy, we help technology...",NaN,"Pune, Maharashtra",NaN,NaN,4 days ago,NaN,https://www.indeed.co.in/rc/clk?jk=16afd705a22...,97,"Tech Alchemy,Blockchain Lead,\r\n About Us:\r\...",Blockchain Lead,0.020473,0.020849,0.059113,0.100435
2,Tech Alchemy,Technical Lead,"About theTech Alchemy: At Tech Alchemy, we he...",₹28 an hour,"Pune, Maharashtra",NaN,NaN,5 days ago,NaN,https://www.indeed.co.in/rc/clk?jk=5cd99f2ba89...,117,"Tech Alchemy,Technical Lead,\r\n About theTech...",Technical Lead,0.029999,0.030534,0.043845,0.104379
3,UST,Associate Product Manager I,Role Proficiency: Contributes to driving the P...,NaN,"Thiruvananthapuram, Kerala",3.7,988.0,30+ days ago,https://in.indeed.com/applystart?jk=2724169881...,https://www.indeed.co.in/rc/clk?jk=2724169881a...,432,"UST,Associate Product Manager I,\r\n Role Prof...",Associate Product Manager I,0.050956,0.051802,0.006133,0.108891
4,UST,Architect I - Cloud Infrastructure Services,Role Proficiency: Design and implement Infrast...,NaN,"Chennai, Tamil Nadu",3.7,988.0,8 days ago,https://in.indeed.com/applystart?jk=a46b8ce94a...,https://www.indeed.co.in/rc/clk?jk=a46b8ce94a6...,866,"UST,Architect I - Cloud Infrastructure Service...",Architect I - Cloud Infrastructure Services,0.070079,0.071164,0.061805,0.203048
5,NICE Systems,"Tech Manager, Cloud operations Engineer","At NICE, we don’t limit our challenges. We cha...",NaN,"Pune, Maharashtra",3.4,158.0,9 days ago,https://in.indeed.com/applystart?jk=9ba5d6b91b...,https://www.indeed.co.in/rc/clk?jk=9ba5d6b91b5...,881,"NICE Systems,Tech Manager, Cloud operations En...","Tech Manager, Cloud operations Engineer",0.096382,0.097724,0.081941,0.276047
6,TMI Group IN,Content writing and market research – Cyber Se...,Job Information No. of Openings ...,NaN,"Mumbai, Maharashtra",NaN,NaN,1 day ago,https://in.indeed.com/applystart?jk=7469c2ee40...,https://www.indeed.co.in/rc/clk?jk=7469c2ee40a...,1020,"TMI Group IN,Content writing and market resear...",Content writing and market research – Cyber Se...,0.040035,0.040725,0.160055,0.240814
7,Reserve Bank Information Technology Private Li...,Lead Cyber Security- Database Security,"Navi Mumbai, Maharashtra, India ...",NaN,"Navi Mumbai, Maharashtra",NaN,NaN,19 days ago,https://in.indeed.com/applystart?jk=7ff020e77a...,https://www.indeed.co.in/rc/clk?jk=7ff020e77a2...,1313,Reserve Bank Information Technology Private Li...,Lead Cyber Security- Database Security,0.008848,0.009017,0.097126,0.114992
8,Canalys,Market Research Analyst – Cybersecurity and In...,Canalys is looking for a Market Research Analy...,NaN,"Bengaluru, Karnataka",NaN,NaN,25 days ago,https://in.indeed.com/applystart?jk=1568388479...,https://www.indeed.co.in/rc/clk?jk=15683884795...,1393,"Canalys,Market Research Analyst – Cybersecurit...",Market Research Analyst – Cybersecurity and In...,0.256845,0.257999,0.282702,0.797545
9,PwC,Advisory_Cyber R&R_TPRM_BLR,Line of Service Advisory Industry/Sector Not...,NaN,"Bengaluru, Karnataka",3.9,8371.0,30 days ago,https://in.indeed.com/applystart?jk=4c1b06feaa...,https://www.indeed.co.in/rc/clk?jk=4c1b06feaa7...,1488,"PwC,Advisory_Cyber R&R_TPRM_BLR,\r\n Line of S...",Advisory_Cyber R&R_TPRM_BLR,0.243147,0.244435,0.000359,0.487941
10,S&P Global,Lead Business Intelligence Developer,S&P Market Intelligence - Operations The...,NaN,"Hyderabad, Telangana",3.9,1424.0,Today,https://in.indeed.com/applystart?jk=c0721a167a...,https://www.indeed.co.in/rc/clk?jk=c0721a167a3...,1531,"S&P Global,Lead Business Intelligence Develope...",Lead Business Intelligence Developer,0.064848,0.065871,0.085675,0.216395
11,"JPMorgan Chase Bank, N.A.",Know Your Customer - Client Data Analyst - Tea...,As a Know Your Customer ( KYC ) Analyst in Who...,NaN,"Bengaluru, Karnataka",3.9,18023.0,1 day ago,https://in.indeed.com/applystart?jk=00849a964d...,https://www.indeed.co.in/rc/clk?jk=00849a964d0...,1554,"JPMorgan Chase Bank, N.A.,Know Your Customer -...",Know Your Customer - Client Data Analyst - Tea...,0.083907,0.085137,0.042043,0.211087
12,UBS,Risk Modelling & Analytics Specialist,India Risk Group F...,NaN,"Mumbai, Maharashtra",3.8,2267.0,1 day ago,https://in.indeed.com/applystart?jk=40601115dc...,https://www.indeed.co.in/rc/clk?jk=40601115dc8...,1629,"UBS,Risk Modelling & Analytics Specialist,\r\n...",Risk Modelling & Analytics Specialist,0.057010,0.057936,0.018935,0.133881
13,Splash Business Intelligence,Product Marketing Associate,Splash Business Intelligence http:...,NaN,"Hyderabad, Telangana",NaN,NaN,1 day ago,https://in.indeed.com/applystart?jk=66a0adf895...,https://www.indeed.co.in/rc/clk?jk=66a0adf895b...,1656,"Splash Business Intelligence,Product Marketing...",Product Marketing Associate,0.036504,0.037141,0.055353,0.128998
14,Cognizant,API Automation Tester,API Automation Tester Qualification: Gra...,NaN,"Chennai, Tamil Nadu",3.9,15320.0,1 day ago,https://in.indeed.com/applystart?jk=a729a2a055...,https://www.indeed.co.in/rc/clk?jk=a729a2a0553...,1697,"Cognizant,API Automation Tester,\r\n \r\n \r\...",API Automation Tester,0.107586,0.109014,0.129100,0.345699
15,Janes,Research Analyst II - EO/IR & Radar Systems (H...,"Janes enables militaries, governments, and def...",NaN,"Bengaluru, Karnataka",NaN,NaN,1 day ago,NaN,https://www.indeed.co.in/rc/clk?jk=8ca9cec23d5...,1765,"Janes,Research Analyst II - EO/IR & Radar Syst...",Research Analyst II - EO/IR & Radar Systems (H...,0.064033,0.065047,0.152148,0.281227
16,Morningstar,Intern,"Role: Intern, Quantitative Research Job Desc...",NaN,"Navi Mumbai, Maharashtra",3.9,169.0,2 days ago,https://in.indeed.com/applystart?jk=927ef910a7...,https://www.indeed.co.in/rc/clk?jk=927ef910a7a...,1814,"Morningstar,Intern,\r\n Role: Intern, Quantita...",Intern,0.076402,0.077556,0.116478,0.270437
17,S&P Global,Technical Research Analyst (Offshore Field Dev...,S&P Commodity Insights – Upstream Solutions T...,NaN,"Gurgaon, Haryana",3.9,1424.0,2 days ago,https://in.indeed.com/applystart?jk=a28ba63f34...,https://www.indeed.co.in/rc/clk?jk=a28ba63f34f...,1847,"S&P Global,Technical Research Analyst (Offshor...",Technical Research Analyst (Offshore Field Dev...,0.007876,0.008027,0.031063,0.046966
18,Cognizant,JOB OPENING FOR PERSON WITH DISABILITIES IN CO...,Qualification: Graduate (Bachelor’s Degree ...,NaN,"Hyderabad, Telangana",3.9,15320.0,2 days ago,https://in.indeed.com/applystart?jk=57100886e4...,https://www.indeed.co.in/rc/clk?jk=57100886e4a...,1920,"Cognizant,JOB OPENING FOR PERSON WITH DISABILI...",JOB OPENING FOR PERSON WITH DISABILITIES IN CO...,0.098229,0.099586,0.120686,0.318501
19,Teradata,Lead Java Developer with Python,Job Description – Lead Java Developer Product...,NaN,"Hyderabad, Telangana",3.8,491.0,3 days ago,https://in.indeed.com/applystart?jk=7ffe52d4bd...,https://www.indeed.co.in/rc/clk?jk=7ffe52d4bd3...,2464,"Teradata,Lead Java Developer with Python,Job D...",Lead Java Developer with Python,0.004507,0.004594,0.152837,0.161937
20,Accenture,India Market Unit - Data Science - Utilities -...,About Accenture: Accenture is a global profes...,NaN,"Bengaluru, Karnataka",4.0,23070.0,3 days ago,https://in.indeed.com/applystart?jk=b728125197...,https://www.indeed.co.in/rc/clk?jk=b7281251970...,2567,"Accenture,India Market Unit - Data Science - U...",India Market Unit - Data Science - Utilities -...,0.013028,0.013273,0.065313,0.091614
21,Citi,Assistant Vice President (Business Analytics),Role Outline The role of AVP – Strategic Busi...,NaN,"Bengaluru, Karnataka",3.9,19098.0,11 days ago,https://in.indeed.com/applystart?jk=7178638dbc...,https://www.indeed.co.in/rc/clk?jk=7178638dbc8...,2759,"Citi,Assistant Vice President (Business Analyt...",Assistant Vice President (Business Analytics),0.000000,0.000000,0.008347,0.008347
22,Innomatics Research Labs,Data Science Trainer,Experience Minimum 4+ Years of experience in m...,"Up to ₹12,00,000 a year","Hyderabad, Telangana",4.3,4.0,9 days ago,NaN,https://www.indeed.co.in/company/Innomatics-Re...,2876,"Innomatics Research Labs,Data Science Trainer,...",Data Science Trainer,0.039902,0.040590,0.031975,0.112468
23,Accenture,People Analytics Research & Thought Leadership...,About Accenture: Accenture is a global profes...,NaN,India,4.0,23070.0,18 days ago,https://in.indeed.com/applystart?jk=a3b51976b8...,https://www.indeed.co.in/rc/clk?jk=a3b51976b81...,2906,"Accenture,People Analytics Research & Thought ...",People Analytics Research & Thought Leadership...,0.178746,0.180370,0.121419,0.480535
24,S&P Global,Lead Business Intelligence Developer,S&P Market Intelligence - Operations The...,NaN,"Hyderabad, Telangana",3.9,1424.0,Today,https://in.indeed.com/applystart?jk=c0721a167a...,https://www.indeed.co.in/rc/clk?jk=c0721a167a3...,3056,"S&P Global,Lead Business Intelligence Develope...",Lead Business Intelligence Developer,0.064818,0.065841,0.085675,0.216334
25,BigShyft,Lead Frontend Developer,What makes you a great fit: Good pr...,"₹30,00,000 - ₹60,00,000 a year","Bengaluru, Karnataka",NaN,NaN,1 day ago,https://in.indeed.com/applystart?jk=307f6bf843...,https://www.indeed.co.in/rc/clk?jk=307f6bf843b...,3082,"BigShyft,Lead Frontend Developer,\r\n\r\n \r\n...",Lead Frontend Developer,0.088072,0.089341,0.280722,0.458135
26,UST,Lead II - Software Engineering,Role Proficiency: Act creatively to develop ap...,NaN,"Thiruvananthapuram, Kerala",3.7,988.0,2 days ago,https://in.indeed.com/applystart?jk=0a09a0e345...,https://www.indeed.co.in/rc/clk?jk=0a09a0e345a...,3344,"UST,Lead II - Software Engineering,\r\n Role P...",Lead II - Software Engineering,0.062703,0.063700,0.015125,0.141529
27,Quest Innovative Solutions Pvt Ltd,Team Lead - HR Associate,JOB DESCRIPTIONJob Title : Team Lead - HR Asso...,"₹25,000 - ₹30,000 a month","Kochi, Kerala",3.9,33.0,2 days ago,NaN,https://www.indeed.co.in/company/QUEST-INNOVAT...,3967,"Quest Innovative Solutions Pvt Ltd,Team Lead -...",Team Lead - HR Associate,0.050295,0.051131,0.112544,0.213970
28,Angel broking,Technical Research Analyst,About Us Angel One Limited (formerly kno...,NaN,India,3.0,2.0,4 days ago,https://in.indeed.com/applystart?jk=18546b1317...,https://www.indeed.co.in/rc/clk?jk=18546b13179...,4116,"Angel broking,Technical Research Analyst,\r\n ...",Technical Research Analyst,0.048419,0.049229,0.079552,0.177200
29,forstaffing india,Insight Research Analyst,Description DESCRIPTION About the com...,NaN,"Gurgaon, Haryana",NaN,NaN,9 days ago,https://in.indeed.com/applystart?jk=291747d9a8...,https://www.indeed.co.in/rc/clk?jk=291747d9a87...,4285,"forstaffing india,Insight Research Analyst,\r\...",Insight Research Analyst,0.327140,0.327259,0.333333,0.987731
30,HDB Financial Services Limited,Sales Manager - Auto Loans,Key functions will be: Achievement of busin...,NaN,"Ara, Bihar",3.8,803.0,1 day ago,https://in.indeed.com/applystart?jk=aba5f076a6...,https://www.indeed.co.in/rc/clk?jk=aba5f076a6d...,4632,"HDB Financial Services Limited,Sales Manager -...",Sales Manager - Auto Loans,0.165718,0.167350,0.258462,0.591529
31,Splash Business Intelligence,Product Marketing Associate,Splash Business Intelligence http:...,NaN,"Hyderabad, Telangana",NaN,NaN,1 day ago,https://in.indeed.com/applystart?jk=66a0adf895...,https://www.indeed.co.in/rc/clk?jk=66a0adf895b...,4654,"Splash Business Intelligence,Product Marketing...",Product Marketing Associate,0.036534,0.037172,0.055353,0.129058
32,Syneos Health Clinical,Clinical Programmer II - (ePRO/eCOA),Description Clinical Programmer II (eCOA/ePRO...,NaN,"Pune, Maharashtra",3.6,762.0,1 day ago,https://in.indeed.com/applystart?jk=bceecaac74...,https://www.indeed.co.in/rc/clk?jk=bceecaac741...,4674,"Syneos Health Clinical,Clinical Programmer II ...",Clinical Programmer II - (ePRO/eCOA),0.197886,0.199462,0.004346,0.401694
33,Pfizer,Clinical Statistician,"ROLE SUMMARY Design, analyze, and interpre...",NaN,"Chennai, Tamil Nadu",4.2,6236.0,1 day ago,https://in.indeed.com/applystart?jk=4752d2cea4...,https://www.indeed.co.in/rc/clk?jk=4752d2cea4a...,4686,"Pfizer,Clinical Statistician,\r\n \r\n ROLE S...",Clinical Statistician,0.144892,0.146497,0.009136,0.300525
34,Trinity Touch,Asst. Manager/ Deputy Manager – Plug & Socket,Trinity Touch Private Limited ...,NaN,"New Delhi, Delhi",NaN,NaN,1 day ago,https://in.indeed.com/applystart?jk=5773bb0db6...,https://www.indeed.co.in/rc/clk?jk=5773bb0db6b...,4694,"Trinity Touch,Asst. Manager/ Deputy Manager – ...",Asst. Manager/ Deputy Manager – Plug & Socket,0.084625,0.085862,0.221714,0.392202
35,IKEA,Marketing Manager Bangalore Market,Who you are As a person you are passionate ...,NaN,"Bengaluru, Karnataka",3.8,10388.0,1 day ago,https://in.indeed.com/applystart?jk=13b248f4e1...,https://www.indeed.co.in/rc/clk?jk=13b248f4e1f...,4702,"IKEA,Marketing Manager Bangalore Market,\r\n W...",Marketing Manager Bangalore Market,0.165653,0.167286,0.167685,0.500624
36,PwC,Senior Associate - Pune - Technology Consulting,Line of Service Advisory Industry/Sector Not...,NaN,"Pune, Maharashtra",3.9,8371.0,1 day ago,https://in.indeed.com/applystart?jk=555cc0aada...,https://www.indeed.co.in/rc/clk?jk=555cc0aada8...,4749,"PwC,Senior Associate - Pune - Technology Consu...",Senior Associate - Pune - Technology Consulting,0.333333,0.333333,0.024221,0.690887
37,"JPMorgan Chase Bank, N.A.",Know Your Customer - Client Data Analyst - Tea...,As a Know Your Customer ( KYC ) Analyst in Who...,NaN,"Bengaluru, Karnataka",3.9,18023.0,1 day ago,https://in.indeed.com/applystart?jk=00849a964d...,https://www.indeed.co.in/rc/clk?jk=00849a964d0...,4755,"JPMorgan Chase Bank, N.A.,Know Your Customer -...",Know Your Customer - Client Data Analyst - Tea...,0.083688,0.084916,0.042043,0.210646
38,Saksham Technologies,Product Manager – Sales for Lab Equipment,Location: Mumbai. Qualification: B.Sc....,NaN,"Mumbai, Maharashtra",NaN,NaN,1 day ago,https://in.indeed.com/applystart?jk=837b7492fc...,https://www.indeed.co.in/rc/clk?jk=837b7492fc6...,4791,"Saksham Technologies,Product Manager – Sales f...",Product Manager – Sales for Lab Equipment,0.032943,0.033525,0.078664,0.145133
39,ElectricPe,Business Development Executive,Full Time ...,NaN,"Bengaluru, Karnataka",NaN,NaN,1 day ago,https://in.indeed.com/applystart?jk=994929420e...,https://www.indeed.co.in/rc/clk?jk=994929420ea...,4806,"ElectricPe,Business Development Executive,\r\n...",Business Development Executive,0.003976,0.004053,0.146768,0.154797
40,TMI Group IN,Sales Manager- Clix,Job Information Salary ₹ 500000...,"₹5,00,000 - ₹7,50,000 a year","Karnal, Haryana",NaN,NaN,1 day ago,https://in.indeed.com/applystart?jk=bc555c39a5...,https://www.indeed.co.in/rc/clk?jk=bc555c39a56...,4812,"TMI Group IN,Sales Manager- Clix,\r\n Job Info...",Sales Manager- Clix,0.051447,0.052299,0.061099,0.164845
41,Dimensions HRD Consultants,Senior Product Design,POSITION DETAILS Position Title: Business L...,NaN,"Mumbai, Maharashtra",4.0,3.0,1 day ago,https://in.indeed.com/applystart?jk=7f7005266b...,https://www.indeed.co.in/rc/clk?jk=7f7005266bb...,4849,"Dimensions HRD Consultants,Senior Product Desi...",Senior Product Design,0.026010,0.026480,0.051195,0.103684
42,BigShyft,Lead Frontend Developer,What makes you a great fit: Good pr...,"₹30,00,000 - ₹60,00,000 a year","Bengaluru, Karnataka",NaN,NaN,1 day ago,https://in.indeed.com/applystart?jk=307f6bf843...,https://www.indeed.co.in/rc/clk?jk=307f6bf843b...,4872,"BigShyft,Lead Frontend Developer,\r\n\r\n \r\n...",Lead Frontend Developer,0.087882,0.089150,0.280722,0.457754
43,TMI Group IN,Territory Manager - Mortgage Sales,Job Information Salary ₹ 700000...,"₹7,00,000 - ₹10,00,000 a year",India,NaN,NaN,1 day ago,https://in.indeed.com/applystart?jk=f216907241...,https://www.indeed.co.in/rc/clk?jk=f216907241d...,4968,"TMI Group IN,Territory Manager - Mortgage Sale...",Territory Manager - Mortgage Sales,0.045361,0.046129,0.074246,0.165736
44,S&P Global,Lead Business Intelligence Developer,S&P Market Intelligence - Operations The...,NaN,"Hyderabad, Telangana",3.9,1424.0,Today,https://in.indeed.com/applystart?jk=c0721a167a...,https://www.indeed.co.in/rc/clk?jk=c0721a167a3...,5144,"S&P Global,Lead Business Intelligence Develope...",Lead Business Intelligence Developer,0.064899,0.065923,0.085675,0.216497
45,BigShyft,Lead Frontend Developer,What makes you a great fit: Good pr...,"₹30,00,000 - ₹60,00,000 a year","Bengaluru, Karnataka",NaN,NaN,1 day ago,https://in.indeed.com/applystart?jk=307f6bf843...,https://www.indeed.co.in/rc/clk?jk=307f6bf843b...,5362,"BigShyft,Lead Frontend Developer,\r\n\r\n \r\n...",Lead Frontend Developer,0.088017,0.089286,0.280722,0.458025

In [63]:
final_df.to_csv("final_df.csv",index=False)